APT::Periodic::Update-Package-Lists "{{ unattended_upgrades_update_package_lists_interval }}";
APT::Periodic::Download-Upgradeable-Packages "{{ unattended_upgrades_upgrade_interval }}";
APT::Periodic::AutocleanInterval "{{ unattended_upgrades_autoclean_interval }}";
