#!/bin/bash

open_files_limit=$(cat /etc/default/coturn|grep ulimit|cut -d' ' -f3)
currently_opened_files_count=$(lsof -p $(cat /var/run/turnserver.pid)|wc -l)

if [[ $currently_opened_files_count -ge $open_files_limit ]]; then 
    {{coturn_scripts_path}}/coturn-set-alarms.sh alarm CoturnOpenedFilesLimitFailed
    exit 1
else
    exit 0
fi