#!/bin/bash
aws="$(which aws)"
instance_id=$(curl http://169.254.169.254/latest/meta-data/instance-id)
region=$(curl http://169.254.169.254/latest/dynamic/instance-identity/document|grep region|awk -F\" '/region/ {print $4}')
instance_name=$($aws ec2 describe-tags --region $region --filters Name=resource-id,Values=$instance_id Name=key,Values=Name --query Tags[].Value --output text)

#Metric
#{{coturn_scripts_path}}/coturn-set-alarms.sh
{% if coturn_copy_dumps_to_s3 %}
{{coturn_scripts_path}}/dump-coturn.sh copy_and_send
$aws autoscaling set-instance-health --region $region --instance-id $instance_id --health-status Unhealthy
{% endif %}