---
nodejs_architecture: "{{'arm64' if ansible_architecture == 'aarch64' else 'amd64'}}"
nodejs_from_apt: false
# Pin-Priority of NodeSource repository
nodejs_nodesource_pin_priority: 500
nodejs_url: "https://{{jitsi_repo_username}}:{{jitsi_repo_password}}@{{jitsi_repo_host}}/debian/misc/nodejs_12.22.9-deb-1nodesource1_{{nodejs_architecture}}.deb"
# 0.10 or 0.12 or 4.x
nodejs_version: "12.*"
