---
- name: Install consul service file
  ansible.builtin.template:
    mode: 0644
    src: "signal.json.j2"
    dest: "/etc/consul.d/signal.json"
  notify: Restart consul for consul-signal

- name: Install consul service enablement # noqa ignore-errors
  ansible.builtin.systemd:
    name: consul
    state: reloaded
    enabled: true
  ignore_errors: true

- name: Install consul signal state script
  ansible.builtin.copy:
    src: "set-shard-state-consul.sh"
    dest: "/usr/local/bin/set-shard-state-consul.sh"
    mode: 0755
    owner: root
