jibri {
    single-use-mode = true
    id = "{{ jibri_nick }}"
    recording {
        recordings-directory = "{{ jibri_recordings_dir }}"
        finalize-script = "{{ jibri_finalize_recording_script }}"
    }
    ffmpeg {
{% if jibri_ffmpeg_log_level %}
        ffmpeg = [ ${jibri.ffmpeg.ffmpeg-binary}, "-y", "-v", "{{ jibri_ffmpeg_log_level }}"  ]
{% endif %}
    }
    webhook {
      subscribers = [{% if jibri_sidecar_webhook %}"{{ jibri_sidecar_webhook }}"{% endif %}{% if sip_jibri_sidecar_webhook %}{% if jibri_sidecar_webhook %},{% endif %}"{{ sip_jibri_sidecar_webhook }}"{% endif %}]
    }
    jwt-info {
        signing-key-path = "{{ jibri_asap_key_path }}"
        kid = "{{ jibri_asap_key_id }}"
        issuer = "{{ jibri_asap_issuer }}"
        audience = "{{ jibri_asap_audience }}"
        ttl = 1 hour
    }
{% if jibri_call_status_checks_overridden %}    call-status-checks {
        {% if jibri_all_muted_timeout_override %}all-muted-timeout = "{{ jibri_all_muted_timeout_override }}"{% endif %}

    }{% endif %}

}

include "xmpp.conf"
