[Unit]
Description=Jibri Terminating Instance Monitor
After=network.target

[Service]
WorkingDirectory={{ jibri_scripts_dir }}
ExecStart={{ jibri_scripts_dir }}/monitor-terminating-instance.sh
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
