jibri.api.xmpp.environments = [
{% for env_key in jibri_config_hosts %}
    {
        name = "{{ jibri_config_hosts[env_key]['environment'] }}"
        xmpp-server-hosts = {{ jibri_config_hosts[env_key]['host_addresses'])|to_json }},
        xmpp-domain = "{{ jibri_config_hosts[env_key]['xmpp_domain'] }}"
        control-login {
            domain = "{{ jibri_jid_prefix }}{{ jibri_config_hosts[env_key]['xmpp_domain'] }}"
            username = "{{ jibri_xmpp_username }}"
            password = "{{ jibri_xmpp_password }}"
            port = {{ jibri_config_hosts[env_key]['host_port'] if jibri_config_hosts[env_key]['host_port'] is defined else jibri_xmpp_port }}
        }
        control-muc {
            domain = "{{ jibri_brewery_prefix }}{{ jibri_config_hosts[env_key]['xmpp_domain'] }}"
            room-name = "{{ jibri_xmpp_room_name }}"
            nickname = "{{ jibri_nick }}"
        }
        call-login {
            domain = "{{ jibri_selenium_prefix }}{{ jibri_config_hosts[env_key]['xmpp_domain'] }}"
            username = "{{ jibri_selenium_auth_user }}"
            password = "{{ jibri_selenium_auth_password }}"
        }
        strip-from-room-domain = "{{ jibri_conference_prefix }}"
        usage-timeout = "{{ jibri_config_hosts[env_key]['usage_timeout'] }} minutes"
        trust-all-xmpp-certs = true
    {% if jibri_randomize_control_muc_nickname %}
        randomize-control-muc-nickname = true
    {% endif %}
    },
{% endfor %}
]
