---
# stop daemons
- name: Stop fluentd if present
  ansible.builtin.service:
    name: "td-agent"
    state: stopped
    enabled: false
  ignore_errors: true
  tags:
    - skip_ansible_lint

- name: Stop telegraf if present
  ansible.builtin.service:
    name: "telegraf"
    state: stopped
    enabled: false
  ignore_errors: true
  tags:
    - skip_ansible_lint

# Disable Ubuntu autoupdates
- name: Disable automatic updates on boot\
  ansible.builtin.command: "{{ item }}"
  with_items:
    - systemctl stop apt-daily.service
    - systemctl stop apt-daily.timer
    - systemctl stop apt-daily-upgrade.service
    - systemctl stop apt-daily-upgrade.timer
    - systemctl mask apt-daily.service
    - systemctl mask apt-daily.timer
    - systemctl mask apt-daily-upgrade.service
    - systemctl mask apt-daily-upgrade.timer
    - systemctl kill --kill-who=all apt-daily.service
    - systemctl daemon-reload
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version >= '16'
  ignore_errors: true
  tags:
    - skip_ansible_lint

- name: Disable automatic updates on boot in the 10periodic
  ansible.builtin.lineinfile:
    dest: "/etc/apt/apt.conf.d/10periodic"
    regexp: '^APT::Periodic::Update-Package-Lists'
    line: 'APT::Periodic::Update-Package-Lists "0";'

- name: Disable automatic updates on boot in the 20auto-upgrades
  ansible.builtin.template:
    mode: 0644
    src: 20auto-upgrades.j2
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    owner: root
    group: root


- name: Unattended upgrade disable via debconf
  ansible.builtin.shell: echo unattended-upgrades unattended-upgrades/enable_auto_updates boolean false | debconf-set-selections && dpkg-reconfigure -f noninteractive unattended-upgrades
  tags:
    - skip_ansible_lint

- name: Remove oracle cloud agent if installed
  ansible.builtin.shell: snap list | grep -q oracle-cloud-agent && snap remove oracle-cloud-agent || true
  tags:
    - skip_ansible_lint

# Remove old kernels and packages
- name: Remove dependencies that are no longer required
  ansible.builtin.apt:
    autoremove: true
    purge: true
    force: true

- name: Cleans the local repository of retrieved package files
  ansible.builtin.apt:
    autoclean: true
    force: true

# Remove ssh uthorized keys
- name: Remove authorized keys | root
  ansible.builtin.file:
    path: /root/.ssh/authorized_keys
    state: absent

# Clean logs
- name: Log cleanup
  ansible.builtin.shell: "find /var/log -type f -exec truncate --size 0 {} \\;"
  tags:
    - skip_ansible_lint

- name: Remove authorized keys | users
  ansible.builtin.file:
    path: /home/ubuntu/.ssh/authorized_keys
    state: absent
