{
  "service": {
    "name": "all",
    "tags":["{{ hcv_environment }}","standalone-{{ consul_standalone_id }}"],
    "meta": {
        "environment":"{{ hcv_environment }}",
        "domain":"{{ environment_domain_name }}",
        "shard":"{{ consul_standalone_id }}",
        "http_backend_port":"443"
    },
    "tagged_addresses": {
      "lan": {
        "address": "{{ consul_standalone_private_ip }}",
        "port": 5280
      },
      "wan": {
        "address": "{{ consul_standalone_public_ip }}",
        "port": 5280
      }
    },
    "port": 5280
  }
}