[defaults]
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .facts
fact_caching_timeout = 86400
timeout = 90

[ssh_connection]
control_path = %(directory)s/%%h-%%r
ssh_args = -o ControlPersist=15m -F config/ssh.config -q
scp_if_ssh = True
pipelining = True
