[Unit]
Description=Jibri Window Manager
Requires=jibri-xorg2.service
After=jibri-xorg2.service

[Service]
User={{jibri_username}}
Group={{jibri_groupname}}
Environment=DISPLAY=:1
ExecStart=/usr/bin/icewm-session
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=jibri.service
