---
- name: Check loki bucket mount # no-qa ignore-errors
  ansible.builtin.shell: |
    set -o pipefail
    mount | grep -q {{ nomad_loki_mount_point }}
  register: loki_mount_results
  ignore_errors: true

- name: Create loki mount point
  ansible.builtin.file:
    path: "{{ nomad_loki_mount_point }}"
    state: directory
    mode: 0755
    recurse: true
  when: loki_mount_results.rc == 1

- name: Create nomad s3fs passwd
  ansible.builtin.copy:
    mode: 0600
    owner: root
    content: "{{ nomad_s3fs_credentials }}"
    dest: "{{ nomad_s3fs_credentials_path }}"
  no_log: true

- name: Install apt pre-requisites
  ansible.builtin.apt:
    name: s3fs
    state: present

- name: Mount loki bucket
  ansible.posix.mount:
    src: "s3fs#{{ nomad_loki_bucket }}"
    path: "{{ nomad_loki_mount_point }}"
    opts: "{{ nomad_loki_s3fs_options }}"
    fstype: "fuse"
    state: mounted
  when: loki_mount_results.rc == 1

- name: ECR credentials dependency
  ansible.builtin.apt:
    name: amazon-ecr-credential-helper
    state: present

- name: Deploy docker auth file
  ansible.builtin.copy:
    mode: 0644
    dest: "{{ nomad_docker_auth_file_path }}"
    content: "{{ nomad_docker_auth_file | to_json }}"

- name: Create directory for AWS credentials
  ansible.builtin.file:
    path: "/root/.aws"
    state: directory
    owner: "root"
    group: "root"
    mode: 0700

- name: AWS credentials
  ansible.builtin.template:
    src: aws_credentials.j2
    dest: "/root/.aws/credentials"
    owner: "root"
    group: "root"
    mode: 0700

- name: AWS config
  ansible.builtin.template:
    src: aws_config.j2
    dest: "/root/.aws/config"
    owner: "root"
    group: "root"
    mode: 0700
