
{% if jigasi_bosh_host_override %}
org.jitsi.jigasi.BOSH_HOST_OVERRIDE={{ jigasi_bosh_host_override }}
{% endif %}

net.java.sip.communicator.impl.protocol.SingleCallInProgressPolicy.enabled=false

# Adjust opus encoder complexity
net.java.sip.communicator.impl.neomedia.codec.audio.opus.encoder.COMPLEXITY=10

# allow dtmf pass through to the sip side
org.jitsi.service.neomedia.AudioMediaStream.DISABLE_DTMF_HANDLING=true

{% if jigasi_hole_punch_pkt_count %}
net.java.sip.communicator.impl.protocol.HOLE_PUNCH_PKT_COUNT={{ jigasi_hole_punch_pkt_count }}
{% endif %}

# Disables packet logging
net.java.sip.communicator.packetlogging.PACKET_LOGGING_ENABLED=false

# Increase incoming UDP buffer size
org.jitsi.impl.neomedia.RTPConnectorInputStream.SO_RCVBUF={{ jigasi_udp_buffer_size }}

org.jitsi.jigasi.CONFERENCES_THRESHOLD={{ jigasi_conferences_threshold }}

# detects sip tls socket close with sip to re-register
net.java.sip.communicator.impl.protocol.sip.FORCE_REGISTER_ON_TLS_CLOSE=true

{% if jigasi_visitors_enabled %}
org.jitsi.jigasi.ENABLE_SIP_VISITORS=true
{% if jigasi_visitors_queue_service_url %}
org.jitsi.jigasi.VISITOR_QUEUE_SERVICE_PRIVATE_KEY_PATH={{ jigasi_asap_key_path }}
org.jitsi.jigasi.VISITOR_QUEUE_SERVICE_PRIVATE_KEY_ID={{ asap_key['id'] }}
org.jitsi.jigasi.VISITOR_QUEUE_SERVICE={{ jigasi_visitors_queue_service_url }}
{% endif %}
{% endif %}

{% if jigasi_shard_role=='jigasi' %}

net.java.sip.communicator.impl.protocol.sip.acc1403273890647=acc1403273890647
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.ACCOUNT_UID=SIP\:{{ jigasi_sip_username }}@{{ jigasi_sip_server }}
net.java.sip.communicator.plugin.reconnectplugin.ATLEAST_ONE_SUCCESSFUL_CONNECTION.SIP\:{{ jigasi_sip_username }}@{{ jigasi_sip_server }}=true
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PASSWORD={{ jigasi_sip_password|b64encode }}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PROTOCOL_NAME=SIP
{% if jigasi_enable_tcp %}
{% if jigasi_enable_tls %}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PREFERRED_TRANSPORT=TLS
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PROXY_ADDRESS={{ jigasi_sip_server }}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PROXY_AUTO_CONFIG=false
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PROXY_PORT=5061
{% else %}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PREFERRED_TRANSPORT=TCP
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PROXY_ADDRESS={{ jigasi_sip_server }}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PROXY_AUTO_CONFIG=false
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.PROXY_PORT=5060
{% endif %}
{% endif %}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.VOICEMAIL_ENABLED=false
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_MEET_ROOM_HEADER_NAME=X-Room-Name
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_MEET_ROOM_PASS_HEADER_NAME=X-Room-Pass
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_MEET_DOMAIN_BASE_HEADER_NAME=X-Domain-Base
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_MEET_DOMAIN_TENANT_HEADER_NAME=X-Domain-Tenant
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_AUTH_TOKEN_HEADER_NAME=X-Auth-Token
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_AUTH_USER_ID_HEADER_NAME=X-User-ID-Token
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_MEET_VISITOR_HEADER_NAME=X-Visitor
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.JITSI_MEET_ANSWER_EMPTY_INFO=true
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.SERVER_ADDRESS={{ jigasi_sip_server }}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.USER_ID={{ jigasi_sip_username }}@{{ jigasi_sip_server }}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.KEEP_ALIVE_INTERVAL=25
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.KEEP_ALIVE_METHOD=OPTIONS
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.AMR-WB/16000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.G722/8000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.GSM/8000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.H263-1998/90000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.H264/90000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.PCMA/8000={{ jigasi_sip_pcma_priority | default(0) }}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.PCMU/8000={{ jigasi_sip_pcmu_priority | default(0) }}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.SILK/12000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.SILK/16000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.SILK/24000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.SILK/8000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.VP8/90000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.iLBC/8000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.opus/48000=1000
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.red/90000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.speex/16000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.speex/32000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.speex/8000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.telephone-event/8000=900
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.Encodings.ulpfec/90000=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.OVERRIDE_ENCODINGS=true
{% if jigasi_outbound_prefix %}

net.java.sip.communicator.impl.protocol.sip.acc1403273890647.OUTBOUND_PREFIX={{ jigasi_outbound_prefix }}
{% endif %}

{% if jigasi_enable_tls %}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.DEFAULT_ENCRYPTION=true
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.DEFAULT_SIPZRTP_ATTRIBUTE=true
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.ENCRYPTION_PROTOCOL.ZRTP=0
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.ENCRYPTION_PROTOCOL.SDES=1
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.ENCRYPTION_PROTOCOL.DTLS-SRTP=2
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.ENCRYPTION_PROTOCOL_STATUS.ZRTP=false
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.ENCRYPTION_PROTOCOL_STATUS.SDES=true
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.ENCRYPTION_PROTOCOL_STATUS.DTLS-SRTP=false
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.SDES_CIPHER_SUITES=AES_CM_128_HMAC_SHA1_80,AES_CM_128_HMAC_SHA1_32
{% else %}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.DEFAULT_ENCRYPTION=false
{% endif %}

{% if jigasi_enable_external_mixing %}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.USE_TRANSLATOR_IN_CONFERENCE=true
{% endif %}
{% if jigasi_heartbeat_seconds %}
net.java.sip.communicator.impl.protocol.sip.acc1403273890647.HEARTBEAT_SECONDS={{ jigasi_heartbeat_seconds }}
{% endif %}
{% endif %}

net.java.sip.communicator.impl.protocol.sip.SKIP_REINVITE_ON_FOCUS_CHANGE_PROP=true

{% if jigasi_muc_join_timeout %}
org.jitsi.jigasi.MUC_JOIN_TIMEOUT={{ jigasi_muc_join_timeout }}
{% endif %}

net.java.sip.communicator.service.gui.ALWAYS_TRUST_MODE_ENABLED=true

# we can receive dial/hangup only from the control muc
org.jitsi.jigasi.ALLOWED_JID={{ jigasi_brewery_muc }}

org.jitsi.jigasi.BREWERY_ENABLED=true

{% if jigasi_trusted_domains %}
# when checking other participants whether they are jibri/jigasi we can also check the the domain they use for connecting
org.jitsi.jigasi.TRUSTED_DOMAINS=["recorder.{{ prosody_domain_name }}", "jigasia.{{ prosody_domain_name }}", "jigasib.{{ prosody_domain_name }}"]
{% endif %}

{% if jigasi_enable_external_mixing %}
net.java.sip.communicator.impl.neomedia.audioSystem.audiosilence.captureDevice_list=["AudioSilenceCaptureDevice:noTransferData"]
{% endif %}

# forces sending presence on sip call hangup
net.java.sip.communicator.impl.protocol.jabber.FORCE_PRESENCE_ON_LEAVE=true

# We can use the prefix org.jitsi.jigasi.xmpp.acc to override any of the
# properties that will be used for creating xmpp account for communication.

org.jitsi.jigasi.xmpp.acc.IS_SERVER_OVERRIDDEN=true
org.jitsi.jigasi.xmpp.acc.SERVER_ADDRESS={{ jigasi_xmpp_domain }}

org.jitsi.jigasi.xmpp.acc.BOSH_URL_PATTERN={{ jigasi_bosh_url_pattern }}
{% if jigasi_enable_external_mixing %}
org.jitsi.jigasi.xmpp.acc.USE_TRANSLATOR_IN_CONFERENCE=true
{% endif %}
org.jitsi.jigasi.xmpp.acc.VIDEO_CALLING_DISABLED=true
org.jitsi.jigasi.xmpp.acc.JINGLE_NODES_ENABLED=false
org.jitsi.jigasi.xmpp.acc.AUTO_DISCOVER_STUN=false
org.jitsi.jigasi.xmpp.acc.Encodings.H264/90000=0
org.jitsi.jigasi.xmpp.acc.Encodings.VP8/90000=0
org.jitsi.jigasi.xmpp.acc.Encodings.telephone-event/8000=0
org.jitsi.jigasi.xmpp.acc.Encodings.opus/48000=1000
org.jitsi.jigasi.xmpp.acc.OVERRIDE_ENCODINGS=true
org.jitsi.jigasi.xmpp.acc.IM_DISABLED=true
org.jitsi.jigasi.xmpp.acc.SERVER_STORED_INFO_DISABLED=true
org.jitsi.jigasi.xmpp.acc.IS_FILE_TRANSFER_DISABLED=true
org.jitsi.jigasi.xmpp.acc.KEEP_ALIVE_METHOD=XEP-0199
org.jitsi.jigasi.xmpp.acc.KEEP_ALIVE_INTERVAL=20

{% if jigasi_shard_role=='jigasi-transcriber' %}
org.jitsi.jigasi.xmpp.acc.USER_ID={{ jigasi_transcriber_auth_user }}@{{ jigasi_transcriber_auth_domain }}
org.jitsi.jigasi.xmpp.acc.PASS={{ jigasi_transcriber_auth_pass }}
org.jitsi.jigasi.xmpp.acc.ANONYMOUS_AUTH=false
org.jitsi.jigasi.xmpp.acc.ALLOW_NON_SECURE=true
{% elif jigasi_enable_bosh_auth %}
org.jitsi.jigasi.xmpp.acc.USER_ID={{ jigasi_auth_conference_user }}@{{ jigasi_auth_conference_domain }}
org.jitsi.jigasi.xmpp.acc.PASS={{ jigasi_auth_conference_pass }}
org.jitsi.jigasi.xmpp.acc.ANONYMOUS_AUTH=false
org.jitsi.jigasi.xmpp.acc.ALLOW_NON_SECURE=true
org.jitsi.jigasi.xmpp.acc.UNIQUE_USER_ID=true
{% endif %}

# 30 minutes
org.jitsi.jigasi.JVB_INVITE_TIMEOUT=1800000

# If you want jigasi to perform authenticated login instead of anonymous login
# to the XMPP server, you can set the following properties.
# org.jitsi.jigasi.xmpp.acc.USER_ID=SOME_USER@SOME_DOMAIN
# org.jitsi.jigasi.xmpp.acc.PASS=SOME_PASS
# org.jitsi.jigasi.xmpp.acc.ANONYMOUS_AUTH=false

# If you want to use the SIP user part of the incoming/outgoing call SIP URI
# you can set the following property to true.
# org.jitsi.jigasi.USE_SIP_USER_AS_XMPP_RESOURCE=true

# Activate this property if you are using self-signed certificates or other
# type of non-trusted certicates. In this mode your service trust in the
# remote certificates always.
# net.java.sip.communicator.service.gui.ALWAYS_TRUST_MODE_ENABLED=true

# Enable this property to be able to shutdown gracefully jigasi using
# a rest command
org.jitsi.jigasi.ENABLE_REST_SHUTDOWN=true

#########

{% if jigasi_shard_role=='jigasi-transcriber' %}
# enable transcription role, disable sip
org.jitsi.jigasi.ENABLE_TRANSCRIPTION=true
org.jitsi.jigasi.ENABLE_SIP=false

{% if jigasi_transcriber_custom_transcriber %}
org.jitsi.jigasi.transcription.customService={{ jigasi_transcriber_custom_transcriber }}
{% endif %}

{% if jigasi_transcriber_filter_silence %}
org.jitsi.jigasi.transcription.FILTER_SILENCE = true
{% endif %}

{% if jigasi_transcriber_remote_select %}
org.jitsi.jigasi.transcription.remoteTranscriptionConfigUrl={{ jigasi_transcriber_remote_select }}
{% endif %}
org.jitsi.jigasi.transcription.remoteTranscriptionConfigUrl.keyPath={{ jigasi_asap_key_path }}
org.jitsi.jigasi.transcription.remoteTranscriptionConfigUrl.kid={{ asap_key['id'] }}
org.jitsi.jigasi.transcription.remoteTranscriptionConfigUrl.aud={{ jigasi_transcriber_remote_select_aud }}

org.jitsi.jigasi.transcription.whisper.private_key={{ jigasi_transcriber_whisper_private_key }}
org.jitsi.jigasi.transcription.whisper.private_key_name={{ jigasi_transcriber_whisper_private_key_name }}
org.jitsi.jigasi.transcription.whisper.websocket_url={{ jigasi_transcriber_whisper_websocket_url }}

{% if jigasi_transcriber_oci_flag %}
org.jitsi.jigasi.transcription.customService=org.jitsi.jigasi.transcription.OracleTranscriptionService
org.jitsi.jigasi.transcription.oci.websocketUrl=wss://realtime.aiservice.{{ oracle_region }}.oci.oraclecloud.com
org.jitsi.jigasi.transcription.oci.compartmentId={{ jigasi_cloud_compartment }}
{% endif %}

{% else %}

# disable transcription role, enabling sip
org.jitsi.jigasi.ENABLE_TRANSCRIPTION=false
org.jitsi.jigasi.ENABLE_SIP=true

{% endif %}

# delivering final transcript
# org.jitsi.jigasi.transcription.DIRECTORY=/var/lib/jigasi/transcripts
# org.jitsi.jigasi.transcription.BASE_URL=http://localhost/
# org.jitsi.jigasi.transcription.jetty.port=-1
# org.jitsi.jigasi.transcription.ADVERTISE_URL=false

# save formats
# org.jitsi.jigasi.transcription.SAVE_JSON=false
# org.jitsi.jigasi.transcription.SAVE_TXT=true

# send formats
org.jitsi.jigasi.transcription.SEND_JSON=true
# org.jitsi.jigasi.transcription.SEND_TXT=false

{% if jigasi_shard_role=='jigasi-transcriber' and jigasi_enable_translations %}
# translation
org.jitsi.jigasi.transcription.ENABLE_TRANSLATION=true
{% endif %}

# record audio. Currently only wav format is supported
# org.jitsi.jigasi.transcription.RECORD_AUDIO=false
# org.jitsi.jigasi.transcription.RECORD_AUDIO_FORMAT=wav

# execute one or more scripts when a transcript or recording is saved
# org.jitsi.jigasi.transcription.EXECUTE_SCRIPTS=true
# org.jitsi.jigasi.transcription.SCRIPTS_TO_EXECUTE_LIST_SEPARATOR=","
# org.jitsi.jigasi.transcription.SCRIPTS_TO_EXECUTE_LIST=script/example_handle_transcript_directory.sh

# properties for optionally sending statistics to a DataDog server
org.jitsi.ddclient.prefix=jitsi.jigasi
org.jitsi.ddclient.host=localhost
org.jitsi.ddclient.port=8125

# properties for SIP health check controls
org.jitsi.jigasi.HEALTH_CHECK_SIP_URI=healthcheck
org.jitsi.jigasi.HEALTH_CHECK_INTERVAL=300000

# debug health check failures (thread dump in logs)
org.jitsi.jigasi.HEALTH_CHECK_DEBUG_ENABLED=false

{% if jigasi_participant_info_callback_url %}
org.jitsi.sip.PARTICIPANT_INFO_CALLBACK_URL={{ jigasi_participant_info_callback_url }}?number={0}
{% endif %}

{% if jigasi_shard_role != 'jigasi-transcriber' and jigasi_enable_muting %}
org.jitsi.jigasi.ENABLE_SIP_STARTMUTED=true
{% endif %}

org.jitsi.jigasi.LOCAL_REGION={{ jigasi_region }}

