{
    "id": "acc-{{ item['id'] }}",
    "ACCOUNT_UID": "Jabber:{{ item['jid'] }}@{{ item['xmpp_host_private_ip_address'] }}",
    "ATLEAST_ONE_SUCCESSFUL_CONNECTION.Jabber:{{ item['jid'] }}@{{ item['xmpp_host_private_ip_address'] }}": "true",
    "USER_ID": "{{ item['jid'] }}",
    "IS_SERVER_OVERRIDDEN": "true",
    "SERVER_ADDRESS": "{{ item['xmpp_host_private_ip_address'] }}",
    "SERVER_PORT": "{{ jigasi_xmpp_port }}",
    "ALLOW_NON_SECURE": "true",
    "PASSWORD": "{{ jigasi_xmpp_password }}",
    "AUTO_GENERATE_RESOURCE": "true",
    "RESOURCE_PRIORITY": "30",
    "KEEP_ALIVE_METHOD": "XEP-0199",
    "KEEP_ALIVE_INTERVAL": "20",
    "CALLING_DISABLED": "true",
    "JINGLE_NODES_ENABLED": "false",
    "IS_CARBON_DISABLED": "true",
    "DEFAULT_ENCRYPTION": "true",
    "IS_USE_ICE": "true",
    "IS_ACCOUNT_DISABLED": "false",
    "IS_PREFERRED_PROTOCOL": "false",
    "AUTO_DISCOVER_JINGLE_NODES": "false",
    "PROTOCOL": "Jabber",
    "IS_USE_UPNP": "false",
    "IM_DISABLED": "true",
    "SERVER_STORED_INFO_DISABLED": "true",
    "IS_FILE_TRANSFER_DISABLED": "true",
    "USE_DEFAULT_STUN_SERVER": "true",
    "ENCRYPTION_PROTOCOL.DTLS-SRTP": "0",
    "ENCRYPTION_PROTOCOL_STATUS.DTLS-SRTP": "true",
    "OVERRIDE_ENCODINGS": "true",
    "Encodings.G722/8000": "705",
    "Encodings.GSM/8000": "0",
    "Encodings.H263-1998/90000": "0",
    "Encodings.H264/90000": "0",
    "Encodings.PCMA/8000": "0",
    "Encodings.PCMU/8000": "0",
    "Encodings.SILK/12000": "0",
    "Encodings.SILK/16000": "0",
    "Encodings.SILK/24000": "0",
    "Encodings.SILK/8000": "0",
    "Encodings.VP8/90000": "0",
    "Encodings.iLBC/8000": "0",
    "Encodings.opus/48000": "750",
    "Encodings.speex/16000": "0",
    "Encodings.speex/32000": "0",
    "Encodings.speex/8000": "0",
    "BREWERY": "{{ jigasi_brewery_muc_room }}@{{ item['xmpp_muc'] }}",
    "BOSH_URL_PATTERN": "{{ item['url'] | default(jigasi_bosh_url_pattern) }}",

    "DOMAIN_BASE": "{{ item['xmpp_domain'] }}"
}
