[DEFAULT]
user={{ jigasi_transcriber_oci_user_ocid }}
fingerprint={{ jigasi_transcriber_oci_user_fingerprint }}
tenancy={{ jigasi_transcriber_oci_tenancy }}
region={{ oracle_region }}
key_file=/usr/share/jigasi/.oci/private.pem
