PORT={{autoscaler_express_port}}
APP_CONFIG="{{autoscaler_config_file}}"
GRACEFUL_SHUTDOWN_SCRIPT="{{autoscaler_graceful_shutdown_wrapper}}"
TERMINATE_SCRIPT="{{autoscaler_terminate_script}}"
RECONFIGURE_SCRIPT="{{autoscaler_reconfigure_wrapper}}"
ENABLE_REPORT_STATS={{autoscaler_enable_report_stats}}
POLLING_URL="{{autoscaler_poll_url}}"
STATUS_URL="{{autoscaler_status_url}}"
STATS_RETRIEVE_URL="{{autoscaler_stats_retrieve_url}}"
STATS_REPORT_URL="{{autoscaler_stats_report_url}}"
ASAP_SIGNING_KEY_FILE="{{autoscaler_key_path}}"
ASAP_JWT_KID="{{autoscaler_key_id}}"
INSTANCE_TYPE="{{autoscaler_instance_type}}"
INSTANCE_ID="{{autoscaler_instance_id}}"
INSTANCE_METADATA='{"environment":"{{autoscaler_environment}}","region":"{{autoscaler_region}}","group":"{{autoscaler_group}}","name":"{{autoscaler_sidecar_instance_name}}","version":"{{autoscaler_sidecar_instance_version}}","privateIp":"{{autoscaler_sidecar_private_ip}}"{% if autoscaler_sidecar_public_ip %},"publicIp":"{{autoscaler_sidecar_public_ip}}"{% endif %}}'