JVB_USERNAME={{ jvb_auth_user }}
JVB_PASSWORD={{ jvb_auth_password }}
JVB_IQ_HANDLER_MODE={{ jvb_iq_handler_mode }}
JVB_INITIAL_DRAIN_MODE={{ jvb_initial_drain_mode|to_json }}
JVB_MUC_NICKNAME={{ ansible_hostname }}
