{
{% if jvb_enable_consul %}
  "datacenters": {{ jvb_consul_datacenters | to_json }},
  "local_datacenters": {{ jvb_consul_local_datacenters | to_json }},
  "pool_mode":"{{ jvb_pool_mode }}",
  "environment": "{{ hcv_environment }}",
  "domain": "{{ jvb_domain_name }}",
  "shard": "{{ shard_name }}",
  "release_number": "{{ jitsi_release_number }}",
  "consul_urls":{{ jvb_consul_urls|to_json }},
{% endif %}
  "enable_cross_region": {{ jvb_enable_cross_region|to_json }},
  "regions":{{ jvb_regions|to_json }}
}