{
  "shards":{{ jvb_shards|to_json }},
  "drain_mode":{{ jvb_initial_drain_mode|to_json }},
  "port": {{ jvb_xmpp_port }},
{% if prosody_jvb_configure_flag %}
  "domain":"{{ jvb_prosody_jvb_auth_domain_name }}",
  "muc_jids":"jvbbrewery@{{ jvb_prosody_jvb_muc_name }}",
{% else %}
  "domain":"{{ jvb_auth_domain }}",
  "muc_jids":"{{ jvb_brewery_muc }}",
{% endif %}
  "username":"{{ jvb_auth_user }}",
  "password":"{{ jvb_auth_password }}",
  "muc_nickname":"{{ ansible_hostname }}",
  "iq_handler_mode":"{{ jvb_iq_handler_mode }}"
}