#!/bin/bash
set -x

export OCI_BIN="/usr/local/bin/oci"

INSTANCE_METADATA=$(curl -s http://169.254.169.254/opc/v1/instance/)
INSTANCE_ID=$(echo "$INSTANCE_METADATA" | jq .id -r)

echo "Clean up the Route53 DNS"
# this script is run from different users, e.g. jsidecar, ubuntu, root, and should not use sudo commands
CLEANUP_ROUTE53_DNS="/usr/local/bin/cleanup_route53_dns.sh"
if [ -f "$CLEANUP_ROUTE53_DNS" ]; then
    $CLEANUP_ROUTE53_DNS
fi

echo "Dump pre-terminate stats for JVB"
# this script is run from different users, e.g. jsidecar, ubuntu, root, and should not use sudo commands
PRE_TERMINATE_STATS="/usr/local/bin/dump-pre-terminate-stats-jvb.sh"
if [ -x "$PRE_TERMINATE_STATS" ]; then
    $PRE_TERMINATE_STATS
fi

# now terminate our instance
echo "Terminate the instance; we enable debug to have more details in case of oci cli failures"
$OCI_BIN compute instance terminate --debug --instance-id "$INSTANCE_ID" --preserve-boot-volume false --auth instance_principal --force
