{
  "service": {
    "name": "signal",
    "tags":["{{ hcv_environment }}","release-{{jitsi_release_number}}","shard-{{ shard_name }}"],
    "meta": {
        "environment":"{{ hcv_environment }}",
        "domain":"{{ environment_domain_name }}",
        "release_number":"{{ jitsi_release_number }}",
        "shard":"{{ shard_name }}",
        "shard_id":"{{ shard_number }}",
        "signal_version":"{{ signal_version }}",
        "http_backend_port":"443",
        "signal_sidecar_http_ip":"{{ consul_signal_private_ip }}",
        "signal_sidecar_agent_port":"6060"
    },
    "tagged_addresses": {
      "lan": {
        "address": "{{ consul_signal_private_ip }}",
        "port": 5280
      },
      "wan": {
        "address": "{{ consul_signal_public_ip }}",
        "port": 5280
      }
    },
    "port": 5280
  }
}
