{
  "service": {
    "name": "signal",
    "tags":["{{ hcv_environment }}","release-{{jitsi_release_number}}","shard-{{ shard_name }}"],
    "meta": {
        "environment":"{{ hcv_environment }}",
        "domain":"{{ prosody_domain_name }}",
        "release_number":"{{ jitsi_release_number }}",
        "http_backend_port":"443",
        "signal_sidecar_agent_port":"6060",
        "shard":"{{ shard_name }}",
        "shard_id":"{{ shard_number }}"
    },
    "tagged_addresses": {
      "lan": {
        "address": "{{ consul_signal_private_ip }}",
        "port": 5280
      },
      "wan": {
        "address": "{{ consul_signal_public_ip }}",
        "port": 5280
      }
    },
    "port": 5280
  }
}