- name: Setup apt repository for openjdk
  ansible.builtin.apt_repository:
    repo: "ppa:openjdk-r/ppa"
    update_cache: true
  when:
    - java_from_apt
    - java_install_flag

- name: Install java 11
  ansible.builtin.apt:
    name: openjdk-11-jdk
    state: present
    update_cache: true
  when:
    - java_from_apt
    - java_install_flag


- name: Install java 11 debug
  ansible.builtin.apt:
    name: openjdk-11-dbg
    state: present
    update_cache: true
  when:
    - java_from_apt
    - java_install_flag

- name: Download java packages from URL
  ansible.builtin.get_url:
    mode: 0644
    url: "{{ java_url_base }}/{{ java_package_prefix }}-{{ item }}_{{ java_package_version }}{{ java_package_suffix }}"
    dest: "/tmp/{{ java_package_prefix }}-{{ item }}_{{ java_package_version }}{{ java_package_suffix }}"
  loop: "{{ java_url_packages }}"
  when:
    - not java_from_apt
    - java_install_flag

- name: Install java packages from file
  ansible.builtin.apt:
    deb: "/tmp/{{ java_package_prefix }}-{{ item }}_{{ java_package_version }}{{ java_package_suffix }}"
    force: true
  loop: "{{ java_url_packages }}"
  when:
    - not java_from_apt
    - java_install_flag

- name: Set java alternative setting
  ansible.builtin.command: "update-java-alternatives --jre-headless --set {{ java_alternatives_version }}"
  register: java_alternatives_output # <- Registers the command output.
  changed_when: java_alternatives_output.rc != 0 # <- Uses the return code to define when the task has changed.
