# {{ ansible_managed }}

<source>
type tail
  path /var/log/bootstrap.log
  pos_file /var/spool/td-agent/bootstrap.pos
  tag bootstrap

  format multiline
  format_firstline /^(?<task>[\w]+\s?[\w]+) (?<name>\[.*:.*\])\s?\**\s/
  format1 /^(?<task>[\w]+\s?[\w]+) (?<name>\[[\w\-:].*\])\s?\**\s?(?<status>[^ ]+) (?<ip>[^ ]+) => (?<message>[\{|\(].*[\}|\)]+)$/

  # Date and time format
  time_format %d/%B/%Y:%H:%M:%S
</source>
