# {{ ansible_managed }}

<source>
type tail
  path /var/log/postinstall-ansible.log
  pos_file /var/spool/td-agent/postinstall-ansible.pos
  tag postinstall-ansible

  format multiline
  format_firstline /^(?<task>[\w]+\s?[\w]+) (?<name>\[.*:.*\])\s?\**\s/
  format1 /^(?<task>[\w]+\s?[\w]+) (?<name>\[.*:.*\])\s?\**\s?task path(?<task_path>:.*:)(?<line_number>\d+)\s?(?<message>[\W|\s\S]*)$/


  # Date and time format
  time_format %d/%B/%Y:%H:%M:%S
</source>
