---
- name: Open TCP port 443 via iptables
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: NEW
    protocol: tcp
    destination_port: 443
    jump: ACCEPT
    action: insert
    rule_num: 6
    comment: Added via ansible post-launch configuration script
- name: Open UDP port 443 via iptables
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: NEW
    protocol: udp
    destination_port: 443
    jump: ACCEPT
    action: insert
    rule_num: 7
    comment: Added via ansible post-launch configuration script
- name: Save newly added iptable rules
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4
