#!/bin/bash

#set -e
#set -x

#first load our local instance information from Oracle (or cache) (ENVIRONMENT)
. /usr/local/bin/oracle_cache.sh
BUCKET="dump-logs-${ENVIRONMENT}"

JAVA_USER="jigasi"

JPID=`ps aux | grep java | grep -v grep | grep $JAVA_USER | awk '{ print $2; }'`
JSTAMP=`date +%Y-%m-%d-%H%M`
JHOST=`hostname -s`
TMP_DIR=`mktemp -d /mnt/dump-XXXXX`

if [ -z "$ARCH_PATH" ]; then
    ARCH_PATH="/mnt/$JHOST-$JSTAMP-$JPID-dump.tar.gz"
fi

#Run the collect-dump-logs scripts and extract them to the current directory
pushd $TMP_DIR
/usr/share/jigasi/collect-dump-logs.sh >> $TMP_DIR/jigasi_dump.log 2>&1
tar zxvf jigasi-dumps-*.tgz >> $TMP_DIR/jigasi_dump.log 2>&1
rm jigasi-dumps-*.tgz >> $TMP_DIR/jigasi_dump.log 2>&1
popd
 
cp -a /var/log/cloud-init* $TMP_DIR

cp -a /var/log/bootstrap.log $TMP_DIR

cp -a /var/log/postinstall-ansible.log $TMP_DIR

cp -a /var/log/jitsi/* $TMP_DIR

mkdir $TMP_DIR/local

cp -a /var/log/local/* $TMP_DIR/local

cp -a /var/lib/tcpdump-jigasi $TMP_DIR

cp -a /var/log/syslog $TMP_DIR

cp /tmp/health* $TMP_DIR

cp /tmp/stats* $TMP_DIR

cp /tmp/jigasi* $TMP_DIR

cp /tmp/graceful* $TMP_DIR

echo "HOST: $JHOST, PID: $JPID, STAMP: $JSTAMP, TMP_DIR: $TMP_DIR" > /tmp/jigasi_dump.log

echo "HOST: $JHOST, PID: $JPID, STAMP: $JSTAMP, TMP_DIR: $TMP_DIR" > $TMP_DIR/jigasi_dump.log
echo "---------HOST: $JHOST DISK SPACE $JSTAMP---------" > $TMP_DIR/df_dump.log
df -h >> $TMP_DIR/df_dump.log

echo "---------HOST: $JHOST PS OUTPUT $JSTAMP---------" > $TMP_DIR/ps_dump.log
ps auxwww >> $TMP_DIR/ps_dump.log

echo "---------HOST: $JHOST TOP OUTPUT $JSTAMP---------" > $TMP_DIR/top_dump.log
top -n 1 -b >> $TMP_DIR/top_dump.log

echo "---------HOST: $JHOST LSOF OUTPUT $JSTAMP---------" > $TMP_DIR/lsof_dump.log
lsof >> $TMP_DIR/lsof_dump.log

echo "---------HOST: $JHOST LSOF -u $JAVA_USER OUTPUT $JSTAMP---------" > $TMP_DIR/jigasi_lsof_dump.log
lsof -u $JAVA_USER >> $TMP_DIR/jigasi_lsof_dump.log

echo "---------HOST: $JHOST dpkg -l OUTPUT $JSTAMP---------" > $TMP_DIR/dpkg_dump.log
dpkg -l >> $TMP_DIR/dpkg_dump.log

tar zcf $ARCH_PATH -C $TMP_DIR . && echo "Created $ARCH_PATH" >> /tmp/jigasi_dump.log

[ -d $TMP_DIR ] && rm -r $TMP_DIR

# Assuming OCI CLI is already configured by Ansible
# and instance has write access to this bucket
if [ -z "$SKIP_S3_UPLOAD" ]; then

    echo "Uploading to Object Storage." >> /tmp/jigasi_dump.log 2>&1
    OBJECT_NAME=$JHOST-$JSTAMP-$JPID-dump.tar.gz

    $OCI_BIN os object put -bn $BUCKET --name $JHOST-$JSTAMP-$JPID-dump.tar.gz --file $ARCH_PATH --metadata '{"environment":"'"$ENVIRONMENT"'"}'

    echo $OBJECT_NAME >>/tmp/jigasi_dump.log
else
    echo "Skipping upload to Object Storage." >> /tmp/jigasi_dump.log
fi
