#!/bin/bash

#PULL IN SHARD, ENVIRONMENT, OCI stuff
. /usr/local/bin/oracle_cache.sh

TRACEBACK_PATH="/var/lib/prosody/traceback.txt"
# wait up to 2 minutes for traceback file
TRACEBACK_WAIT_TIMEOUT=120

# TODO: check if correct
BUCKET="dump-logs-${ENVIRONMENT}"
BUCKET_NS="{{ jitsi_dump_oracle_s3_namespace }}"

# check every 10 seconds for traceback file
TRACEBACK_SLEEP_INTERVAL=10

CURL_BIN="/usr/bin/curl"
if [[ -z "$OCI_BIN" ]]; then
    OCI_BIN="/usr/local/bin/oci"
fi

JSTAMP=$(date +%Y-%m-%d-%H%M)
JHOST=$(hostname -s)

#Begin traceback dump of prosody

#clear old traceback if present
[ -e "$TRACEBACK_PATH" ] && rm $TRACEBACK_PATH

PROSODY_PID=$(systemctl show --property MainPID --value prosody)
if [ $? -eq 0 ]; then
    if [[ "$PROSODY_PID" == "0" ]]; then
        PROSODY_PID=
    fi
    if [ -n "$PROSODY_PID" ]; then
        kill -USR1 $PROSODY_PID
        # now wait until traceback file is present
        SLEEP_TIMER=0
        while :; do

            sleep $TRACEBACK_SLEEP_INTERVAL;

            if [ -e "$TRACEBACK_PATH" ]; then
                # found traceback so break
                break;
            fi
            if [ $SLEEP_TIMER -ge $TRACEBACK_WAIT_TIMEOUT ]; then
                # TODO: notify somebody about this
                echo "WAITED $TRACEBACK_WAIT_TIMEOUT FOR TRACEBACK, NEVER APPEARED"
                break;
            fi
            SLEEP_TIMER=$(( SLEEP_TIMER + TRACEBACK_SLEEP_INTERVAL ))
            echo "No traceback found, sleeping for $TRACEBACK_SLEEP_INTERVAL seconds"
        done
    fi
fi

# now check for traceback, if exists then copy it to OCI bucket
if [ -e "$TRACEBACK_PATH" ]; then

    TB_PATH="traceback_${JHOST}_${JSTAMP}.txt"
    DUMP_PATH="https://objectstorage.${ORACLE_REGION}.oraclecloud.com/n/$BUCKET_NS/b/$BUCKET/o/$TB_PATH"

    echo "Uploading $TB_PATH"
    $OCI_BIN os object put --bucket-name "$BUCKET" --file "$TRACEBACK_PATH" --name "$TB_PATH" --region "$ORACLE_REGION"

    echo -e "Prosody failure traceback available at: $DUMP_PATH"
else
    echo -e "Prosody failure traceback unavailable from $JHOST at $JSTAMP"
fi
