---
- name: Jicofo shell config
  ansible.builtin.template:
    src: config.j2
    dest: /etc/jitsi/jicofo/config
    mode: 0644
  notify: Restart jicofo

- name: Jicofo logging properties
  ansible.builtin.template:
    src: logging.properties.j2
    dest: /etc/jitsi/jicofo/logging.properties
    mode: 0644
  notify: Restart jicofo

- name: Jicofo java params
  ansible.builtin.lineinfile:
    path: /usr/share/jicofo/jicofo.sh
    regexp: '^exec java'
    line: 'exec java -Xmx4096m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/tmp $LOGGING_CONFIG_PARAM $JAVA_SYS_PROPS -cp $cp $mainClass $@'

- name: Jicofo brewery configuration
  ansible.builtin.uri:
    url: http://localhost:8500/v1/catalog/service/prosody-brewery
    method: GET
    return_content: true
    status_code: 200
    body_format: json
  register: prosody_brewery_catalog
  when: jicofo_prosody_brewery_shard_enabled

- name: Jicofo brewery configuration
  ansible.builtin.set_fact:
    jicofo_prosody_jvb_hostname: "{{ prosody_brewery_catalog.json[0].ServiceAddress }}"
    jicofo_prosody_jvb_port: "{{ prosody_brewery_catalog.json[0].ServicePort }}"
  when: jicofo_prosody_brewery_shard_enabled and prosody_brewery_catalog.json is defined

- name: Jicofo configuration file
  ansible.builtin.template:
    src: jicofo.conf.j2
    dest: /etc/jitsi/jicofo/jicofo.conf
    mode: 0600
    owner: jicofo
    group: jitsi
  notify: Restart jicofo

- name: Remove leftover sip-communicator.properties file
  ansible.builtin.file:
    path: /etc/jitsi/jicofo/sip-communicator.properties
    state: absent

- name: Start jicofo service
  ansible.builtin.service:
    name: jicofo
    state: started
    enabled: true
  register: jicofoservice

- name: Jicofo stats cron allow
  ansible.builtin.lineinfile:
    mode: 0644
    path: /etc/cron.allow
    regexp: "^{{ jicofo_stats_cron_user }}"
    line: "{{ jicofo_stats_cron_user }}"
    create: true
  when: jicofo_enable_stats

# Run the the health checker regularly
- name: Jicofo stats script cron
  ansible.builtin.cron:
    user: "{{ jicofo_stats_cron_user }}"
    state: present
    name: "Jicofo stats script"
    minute: "{{ jicofo_stats_cron.minute }}"
    hour: "{{ jicofo_stats_cron.hour }}"
    job: "{{ jicofo_stats_cron.job }}"
  when: jicofo_enable_stats


- name: Jicofo health script upload
  ansible.builtin.copy:
    src: jicofo-health.sh
    dest: /usr/local/bin/jicofo-health.sh
    mode: 0755
    owner: root
  when: jicofo_enable_health

- name: Jicofo stats cron allow
  ansible.builtin.lineinfile:
    mode: 0644
    path: /etc/cron.allow
    regexp: "^{{ jicofo_health_cron_user }}"
    line: "{{ jicofo_health_cron_user }}"
    create: true
  when: jicofo_enable_health

# Run the the health checker regularly
- name: Jicofo health script cron
  ansible.builtin.cron:
    user: "{{ jicofo_health_cron_user }}"
    state: present
    name: "Jicofo health script"
    minute: "{{ jicofo_health_cron.minute }}"
    hour: "{{ jicofo_health_cron.hour }}"
    job: "{{ jicofo_health_cron.job }}"
  when: jicofo_enable_health
