---
- name: Install jicofo prereq list of packages
  ansible.builtin.apt:
    name: jq
    state: present

- name: Mark unhold on jicofo package version # noqa no-changed-when
  ansible.builtin.command: apt-mark unhold {{ jicofo_deb_pkg_name }}

- name: Update jicofo
  ansible.builtin.apt:
    name: "{{ jicofo_deb_pkg_name }}={{ jicofo_deb_pkg_version }}"
    state: present
  notify:
    - Restart jicofo

- name: Mark hold on jicofo package version # noqa no-changed-when
  ansible.builtin.command: apt-mark hold {{ jicofo_deb_pkg_name }}

# changes TasksMax in systemd unit file for jicofo
- name: Systemd jicofo service overrides directory
  ansible.builtin.file:
    mode: 0755
    path: /etc/systemd/system/jicofo.service.d
    state: directory

- name: Systemd jicofo service overrides
  ansible.builtin.copy:
  args:
    dest: /etc/systemd/system/jicofo.service.d/50-maxtasks.conf
    mode: 0644
    owner: root
    content: |
      [Service]
      TasksMax=9830

# script to run ansible updates
- name: Install jicofo post-install script upload
  ansible.builtin.copy:
    dest: "/usr/local/bin/postinstall-jicofo.sh"
    src: "postinstall-jicofo.sh"
    mode: 0755
    owner: root

# script to run ansible updates
- name: Install jicofo local configure script upload
  ansible.builtin.copy:
    dest: "/usr/local/bin/configure-jicofo-local.sh"
    src: "configure-jicofo-local.sh"
    mode: 0755
    owner: root

- name: Disable jicofo service on install
  ansible.builtin.service:
    name: jicofo
    state: stopped
    enabled: false
  when: jicofo_install_flag and not jicofo_configure_flag
  register: jicofoservice

- name: Install monitoring prereqs - decorator
  ansible.builtin.apt:
    name: python3-decorator
    state: present
  when: (ansible_distribution_major_version | int) >= 20

- name: Freeze stats script pre reqs
  ansible.builtin.command::
    cmd: "/usr/bin/pip3 install {{ '--break-system-packages' if (ansible_distribution_major_version | int) >= 24 else '' }} datadog"
  when: (ansible_distribution_major_version | int) >= 20

- name: Jicofo health script upload
  ansible.builtin.copy:
    src: jicofo-health.sh
    dest: "{{ jicofo_health_script_path }}"
    mode: 0755
    owner: root

- name: Copy pre-terminate collection script
  ansible.builtin.copy:
    src: "collect-pre-terminate-stats-jicofo.sh"
    dest: "/usr/local/bin/collect-pre-terminate-stats-jicofo.sh"
    mode: 0755
    owner: root

- name: Copy pre-terminate dump script
  ansible.builtin.copy:
    src: "dump-pre-terminate-stats-jicofo.sh"
    dest: "/usr/local/bin/dump-pre-terminate-stats-jicofo.sh"
    mode: 0755
    owner: root
