---
- name: Include install tasks
  ansible.builtin.include_tasks: install.yml
  when: jvb_rtcstats_push_install_flag

- name: Include configure tasks
  ansible.builtin.include_tasks: configure.yml
  when: jvb_rtcstats_push_configure_flag
