---
- name: Remove deprecated trusted repo
  ansible.builtin.apt_repository:
    repo: "deb [trusted=yes] {{ jitsi_auth_url }} unstable/"
    state: absent

- name: Remove deprecated trusted old repo
  ansible.builtin.apt_repository:
    repo: 'deb [trusted=yes] {{ jitsi_auth_url_old }} unstable/'
    state: absent

- name: Install apt key
  ansible.builtin.apt_key:
    url: "{{ jitsi_auth_url }}/unstable/archive.key"
    state: present
    validate_certs: false

- name: Configure jitsi repo auth
  ansible.builtin.template:
    dest: "/etc/apt/auth.conf.d/jitsi-repo.conf"
    src: "jitsi-repo.conf.j2"
    owner: root
    mode: 0600

- name: Configure jitsi repo source
  ansible.builtin.apt_repository:
    repo: "deb [trusted=yes] {{ jitsi_repo_url }} unstable/"
    state: present
    update_cache: true
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version >= '18'

- name: Configure jitsi repo source (older ubuntu)
  ansible.builtin.apt_repository:
    repo: "deb {{ jitsi_repo_url }} unstable/"
    state: present
    update_cache: true
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version < '18'
