---
# consul apt key
- name: Remove consul apt key
  ansible.builtin.apt_key:
    url: "{{ consul_apt_key }}"
    state: absent
    validate_certs: false

- name: Install consul apt key
  ansible.builtin.apt_key:
    url: "{{ consul_apt_key }}"
    state: present
    validate_certs: false

# consul apt repo
- name: Install consul apt repo
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ consul_architecture }}] {{ consul_apt_repo }} {{ ansible_distribution_release }} main"
    state: present
    update_cache: true

- name: Install consul
  ansible.builtin.apt:
    name: "consul"
    state: "present"

# remove apt repo after consul install
# to ensure that at boot-time, apt-get update isn't broken by external dependency failures
- name: Remove consul apt repo
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ consul_architecture }}] {{ consul_apt_repo }} {{ ansible_distribution_release }} main"
    state: absent
    update_cache: true

- name: Install rsyslog configuration for consul
  ansible.builtin.template:
    mode: 0644
    src: rsyslog.config.j2
    dest: /etc/rsyslog.d/33-consul.conf
  notify:
    - Restart rsyslog service
