---
jicofo_auth_domain: "auth.{{ environment_domain_name | default('domain.local') }}"
jicofo_auth_password: "{{ secrets_jicofo_focus | default('replaceme') }}"
jicofo_auth_password_jvb: "{{ secrets_jicofo_focus_jvb | default('replaceme') }}"
jicofo_auth_password_visitor: "{{ secrets_jicofo_focus_visitor | default('replaceme') }}"
jicofo_auth_type: XMPP
jicofo_auth_url: "{{ environment_domain_name }}"
jicofo_auth_url_enable: false
jicofo_auth_user: focus
jicofo_average_participant_stress: 0.005
jicofo_configure_flag: true
# INFO (default), FINE (more details but no protocol messages), FINEST/ALL (include protocol messages)
jicofo_colibri2_log_level: "INFO"
jicofo_deb_pkg_name: "jicofo"
jicofo_deb_pkg_version: "*"
jicofo_disable_auto_owner: false
jicofo_disable_moderator_checks: false
jicofo_enable_av1: true
jicofo_enable_colibri2: true
jicofo_enable_h264: true
jicofo_enable_ice_failure_detection: true
jicofo_enable_load_redistribution: true
jicofo_enable_octo: true
jicofo_enable_opus_red: false
# This needs to be kept in sync with jvb_enable_sctp
jicofo_enable_sctp: true
jicofo_enable_sctp_relay: true
jicofo_enable_source_signaling_delay: true
# Enable additional logs for source-add, source-remove.
jicofo_enable_ssrc_logs: false
jicofo_enable_health: true
jicofo_enable_video_layers_allocation: true
jicofo_enable_vp8: true
jicofo_enable_vp9: true
jicofo_health_cron:
  hour: "*"
  job: "{{ jicofo_health_script_path }} > /tmp/jicofo-health-cron-output 2>&1"
  minute: "*"
jicofo_health_cron_user: ubuntu
jicofo_health_script_path: /usr/local/bin/jicofo-health.sh
jicofo_hostname: "{{ environment_domain_name | default('domain.local') }}"
jicofo_ice_failure_detection_interval: 60
jicofo_ice_failure_detection_min_endpoints: 40
jicofo_ice_failure_detection_threshold: 0.1
jicofo_install_flag: true
jicofo_internal_muc_prefix: "{{ internal_muc_prefix | default('internal.auth') }}"
jicofo_jibri_brewery_muc: JibriBrewery@{{ jicofo_internal_muc_prefix }}.{{ environment_domain_name }}
# Note the units are seconds
jicofo_jibri_pending_timeout: 90
jicofo_jigasi_brewery_muc: JigasiBrewery@{{ jicofo_internal_muc_prefix }}.{{ environment_domain_name }}
jicofo_jvb_brewery_muc: JvbBrewery@{{ jicofo_internal_muc_prefix }}.{{ environment_domain_name }}
jicofo_max_audio_senders: 999999
# Max participants in a single conference on a single bridge.
jicofo_max_bridge_participants: 80
jicofo_max_memory: "1536m"
jicofo_max_video_senders: 999999
jicofo_prosody_jvb_hostname: "127.0.0.1"
jicofo_prosody_jvb_port: 6222
jicofo_prosody_brewery_shard_enabled: "{{ prosody_brewery_shard_enabled | default(true) }}"
jicofo_region: "{{ ansible_ec2_placement_region if ansible_ec2_placement_region is defined and ansible_ec2_placement_region
  else oracle_to_aws_region_map[oracle_region] if oracle_region is defined and oracle_region in oracle_to_aws_region_map else 'default' }}"
jicofo_require_muc_config_flag: false
jicofo_restart_requests_interval: 60
jicofo_restart_requests_max_requests: 3
jicofo_separate_jvb_muc: "{{ prosody_jvb_configure_flag }}"
jicofo_sipjibri_brewery_muc: SipBrewery@{{ jicofo_internal_muc_prefix }}.{{ environment_domain_name }}
# a temp workaround to skip adding main vhost to list of trusted-domains till we migrate all sipjibris to authenticate
jicofo_sipjibri_skip_main_in_trusted_domains: false
# No delay for conferences with <=25, 1 second for 25-50, etc.
jicofo_source_signaling_delay: { 50: 1000, 100: 2000 }
jicofo_ssrc_rewriting: true
jicofo_stress_threshold: 0.8
jicofo_use_presence_for_jvb_health: false
jicofo_visitors_enabled: "{{ visitors_enabled | default(false) }}"
jicofo_visitors_enable_live_room: false
jicofo_visitors_count: "{{ visitors_count | default(0) }}"
jicofo_visitors_max_participants: false
jicofo_visitors_max_visitors_per_node: false
jicofo_xmpp_logging_enabled: false
shard_number: "65535"
