---
jicofo_auth_domain: auth.domain.local
jicofo_auth_password: replaceme
jicofo_auth_type: XMPP
jicofo_auth_url: "{{ prosody_domain_name }}"
jicofo_auth_url_enable: false
jicofo_auth_user: focus
jicofo_average_participant_stress: 0.005
jicofo_configure_flag: true
# INFO (default), FINE (more details but no protocol messages), FINEST/ALL (include protocol messages)
jicofo_colibri2_log_level: "INFO"
jicofo_deb_pkg_name: "jicofo"
jicofo_deb_pkg_version: "*"
jicofo_disable_auto_owner: false
jicofo_enable_av1: false
jicofo_enable_colibri2: true
jicofo_enable_h264: true
jicofo_enable_octo: true
jicofo_enable_opus_red: false
# This needs to be kept in sync with jvb_enable_sctp
jicofo_enable_sctp: false
jicofo_enable_sctp_relay: false
jicofo_enable_source_signaling_delay: true
# Enable additional logs for source-add, source-remove.
jicofo_enable_ssrc_logs: false
jicofo_enable_health: true
jicofo_enable_stats: true
jicofo_enable_vp8: true
jicofo_enable_vp9: true
jicofo_health_cron:
  hour: "*"
  job: "{{ jicofo_health_script_path }} > /tmp/jicofo-health-cron-output 2>&1"
  minute: "*"
jicofo_health_cron_user: ubuntu
jicofo_health_script_path: /usr/local/bin/jicofo-health.sh
jicofo_hostname: domain.local
jicofo_install_flag: true
jicofo_internal_muc_prefix: "{{ internal_muc_prefix | default('internal.auth') }}"
jicofo_jibri_brewery_muc: JibriBrewery@{{ jicofo_internal_muc_prefix }}.{{ prosody_domain_name }}
# Note the units are seconds
jicofo_jibri_pending_timeout: 90
jicofo_jigasi_brewery_muc: JigasiBrewery@{{ jicofo_internal_muc_prefix }}.{{ prosody_domain_name }}
jicofo_jvb_brewery_muc: JvbBrewery@{{ jicofo_internal_muc_prefix }}.{{ prosody_domain_name }}
jicofo_max_audio_senders: 999999
# Max participants in a single conference on a single bridge.
jicofo_max_bridge_participants: 80
jicofo_max_memory: "1536m"
jicofo_max_video_senders: 999999
jicofo_opts: ""
jicofo_region: "{{ ansible_ec2_placement_region if ansible_ec2_placement_region is defined and ansible_ec2_placement_region
  else oracle_to_aws_region_map[oracle_region] if oracle_region is defined and oracle_region in oracle_to_aws_region_map else 'default' }}"
jicofo_require_muc_config_flag: false
jicofo_separate_jvb_muc: "{{ prosody_jvb_configure_flag }}"
jicofo_sipjibri_brewery_muc: SipBrewery@{{ jicofo_internal_muc_prefix }}.{{ prosody_domain_name }}
# a temp workaround to skip adding main vhost to list of trusted-domains till we migrate all sipjibris to authenticate
jicofo_sipjibri_skip_main_in_trusted_domains: false
# No delay for conferences with <=25, 1 second for 25-50, etc.
jicofo_source_signaling_delay: { 50: 1000, 100: 2000 }
jicofo_ssrc_rewriting: false
jicofo_stats_cron:
  hour: "*"
  job: "{{ jicofo_stats_script_path }} > /tmp/jicofo-stats-cron-output 2>&1"
  minute: "*"
jicofo_stats_cron_user: jicofo
jicofo_stats_python_script_path: "/usr/local/bin/jicofo-stats.py"
jicofo_stats_script_path: "/usr/local/bin/jicofo-stats.sh"
jicofo_use_presence_for_jvb_health: false
jicofo_visitors_enabled: "{{ visitors_enabled | default(false) }}"
jicofo_visitors_count: "{{ visitors_count | default(0) }}"
jicofo_visitors_max_participants: false
jicofo_visitors_max_visitors_per_node: false
jicofo_xmpp_logging_enabled: false
shard_number: "65535"
