# Drop all presence from a jvb in a MUC to a jvb
FROM: {{ prosody_jvb_brewery_muc }}
TO: {{ prosody_jvb_auth_user }}@{{ prosody_jvb_auth_domain_name }}
KIND: presence
# Seems safer to allow all "unavailable" to pass
TYPE: available
# Allow self-presence (code=110)
NOT INSPECT: {http://jabber.org/protocol/muc#user}x/status@code=110
DROP.
