{% if prosody_use_lua_54 %}
gc = {
    mode = "{{ prosody_gc_mode }}";

    {% if prosody_gc_mode == "incremental" %}
    -- Incremental mode
    threshold = {{ prosody_gc_inc_threshold }}, speed = {{ prosody_gc_inc_speed }}, step_size = {{ prosody_gc_inc_step_size }};
    {% endif %}
    {% if prosody_gc_mode == "generational" %}
    -- Generational mode
    minor_threshold = {{ prosody_gc_gen_min_threshold }}, major_threshold = {{ prosody_gc_gen_major_threshold }};
    {% endif %}
}
{% endif %}

---------- Server-wide settings ----------
s2s_ports = { 52690 + {{ item }} };
c2s_ports = { 52220 + {{ item }} }
http_ports = { 52800 + {{ item }} }
https_ports = { }

data_path = "/var/lib/prosody-v{{ item }}/"

daemonize = true;

-- we use a common jid for jicofo
admins = {
    'focus@auth.meet.jitsi'
}
component_admins_as_room_owners = true;

-- Enable use of native prosody 0.11 support for epoll over select
network_backend = 'epoll';
network_settings = {
  tcp_backlog = 511;
}

{% if prosody_enable_shortlived_tokens %}
short_lived_token = {
    issuer = "prosody";
    accepted_audiences = { "file-sharing" };
    key_path = "{{ prosody_asap_shortlived_key_path }}";
    key_id = "{{ prosody_asap_shortlived_key['id'] }}";
    ttl_seconds = 30;
};
{% endif %}

modules_enabled = {
      'roster';
      'saslauth';
      'tls';
      'disco';
      'posix';

      'secure_interfaces';

      'admin_shell';

    -- jitsi
      'websocket';
      'bosh';
      's2s_bidi';
      's2s_whitelist';
      's2sout_override';
      'certs_s2soutinjection';
{% if prosody_enable_firewall and prosody_disable_messaging %}
      "firewall";
{% endif %}
{% if prosody_mod_limits_rate %}
      "limits";
{% endif %}
};

s2s_whitelist = {
    'conference.{{ prosody_domain_name }}', -- needed for visitors to send messages to main room
    'visitors.{{ prosody_domain_name }}'; -- needed for sending promotion request to visitors.{{ prosody_domain_name }} component
    '{{ prosody_domain_name }}'; -- unavailable presences back to main room
{% if prosody_enable_guest_auth %}
    '{{ prosody_guest_domain_name }}';
{% endif %}
{% if secrets_jigasi_conference_A %}
    'jigasia.{{ prosody_domain_name }}';
{% endif %}
{% if secrets_jigasi_conference_B %}
    'jigasib.{{ prosody_domain_name }}';
{% endif %}
    'recorder.{{ prosody_domain_name }}';
{% if prosody_polls_enabled %}
    'polls.{{ prosody_domain_name }}';
{% endif %}
};

{% if prosody_enable_mod_turncredentials %}
{% if prosody_mod_turncredentials_secret %}
external_service_secret = "{{ prosody_mod_turncredentials_secret }}";
{% endif %}

external_services = {
{% for turnhost in prosody_mod_turncredentials_hosts %}
  { type = "stun", host = "{{ turnhost }}", port = {{ prosody_mod_turncredentials_port }}, transport = "udp" },
  { type = "turn", host = "{{ turnhost }}", port = {{ prosody_mod_turncredentials_port }}, transport = "udp", secret = true, ttl = 86400, algorithm = "turn" },
    {% if prosody_mod_turncredentials_enable_tcp %}
  { type = "turns", host = "{{ turnhost }}", port = {{ prosody_mod_turncredentials_port }}, transport = "tcp", secret = true, ttl = 86400, algorithm = "turn" },
    {% endif %}
{% endfor %}
};
{% endif %}

muc_mapper_domain_base = 'v{{ item }}.meet.jitsi';
main_domain = '{{ prosody_domain_name }}';
enable_domain_verification = true;
asap_accepted_issuers = { "jitsi"{% for iss in prosody_asap_accepted_issuers %},"{{ iss }}"{% endfor %} }
asap_accepted_audiences = { "jitsi"{% for aud in prosody_asap_accepted_audiences %},"{{ aud }}"{% endfor %} }
asap_key_id = "{{ asap_key['id'] }}";
{% if prosody_meet_ban_auth_enabled %}
muc_prosody_jitsi_access_manager_url = "{{ jitsi_access_manager_url }}";
{% endif %}
{% if prosody_jaas_actuator_url %}
muc_prosody_jaas_actuator_url = "{{ prosody_jaas_actuator_url }}";
{% endif %}

{% if prosody_meet_webhooks_enabled %}
muc_prosody_egress_url = "{{ prosody_egress_url }}";
muc_prosody_egress_fallback_url = "{{ prosody_egress_fallback_url }}";
{% endif %}
{% if prosody_meet_webhooks_enabled or prosody_meet_permissions_vpaas_enabled %}
asap_key_path = "{{ prosody_asap_key_path }}"
asap_issuer = "{{ prosody_asap_issuer }}";
asap_audience = "{{ prosody_asap_audience }}";
{% endif %}

{% if prosody_disable_required_room_claim %}
asap_require_room_claim = false;
{% endif %}

-- https://prosody.im/doc/modules/mod_smacks
smacks_max_unacked_stanzas = 5;
smacks_hibernation_time = 60;
smacks_max_old_sessions = 1;

{% if prosody_stats_provider %}
statistics = "{{ prosody_stats_provider }}";
{% if prosody_stats_provider == "statsd" %}
statistics_config = {
  statsd_server = "{{ prosody_stats_server }}";
  statsd_port = {{ prosody_stats_port }};
};
{% endif %}
{% endif %}

{% if prosody_c2s_stanza_size_limit %}
c2s_stanza_size_limit = {{ prosody_c2s_stanza_size_limit }};
{% endif %}

{% if prosody_mod_limits_rate %}
unlimited_jids = { "focus@auth.meet.jitsi" }
limits = {
    c2s = {
        rate = "{{ prosody_mod_limits_rate }}";
    };
    s2sin = {
        rate = "{{ prosody_mod_limits_rate }}";
    };
}
{% endif %}

modules_disabled = {
    'offline';
    'pubsub';
    'register';
};

allow_registration = false;
authentication = 'internal_hashed'
storage = 'internal'
log = {
    -- Log files (change 'info' to 'debug' for debug logs):
    {{ prosody_log_level }} = '/var/log/prosody-v{{ item }}/prosody.log';
    error = '/var/log/prosody-v{{ item }}/prosody.err';
}

consider_websocket_secure = true;
consider_bosh_secure = true;
bosh_max_inactivity = {{ prosody_bosh_max_inactivity }};

trusted_proxies = {
  {% for proxy in prosody_trusted_proxies %}
  "{{ proxy }}";
  {% endfor %}
}

-- this is added to make certs_s2soutinjection work
s2sout_override = {
    ["conference.{{ prosody_domain_name }}"] = "tcp://127.0.0.1:5269"; -- needed for visitors to send messages to main room
    ["{{ prosody_domain_name }}"] = "tcp://127.0.0.1:5269";
    ["visitors.{{ prosody_domain_name }}"] = "tcp://127.0.0.1:5269";
{% if prosody_enable_guest_auth %}
    ["{{ prosody_guest_domain_name }}"] = "tcp://127.0.0.1:5269";
{% endif %}
{% if secrets_jigasi_conference_A %}
    ["jigasia.{{ prosody_domain_name }}"] = "tcp://127.0.0.1:5269";
{% endif %}
{% if secrets_jigasi_conference_B %}
    ["jigasib.{{ prosody_domain_name }}"] = "tcp://127.0.0.1:5269";
{% endif %}
    ["recorder.{{ prosody_domain_name }}"] = "tcp://127.0.0.1:5269";
{% if prosody_polls_enabled %}
    ["polls.{{ prosody_domain_name }}"] = "tcp://127.0.0.1:5269";
{% endif %}
}

{% if prosody_limit_messages %}
muc_limit_messages_count = {{ prosody_limit_messages }};
muc_limit_messages_check_token = {{ prosody_limit_messages_check_token | to_json }};
{% endif %}

plugin_paths = { '{{ prosody_plugins_path }}/' }

----------- Virtual hosts -----------
VirtualHost 'v{{ item }}.meet.jitsi'
{% if prosody_enable_tokens %}
    authentication = "token"
    app_id = "{{ prosody_token_app_id }}";             -- application identifier
    {% if prosody_token_app_secret %}
    app_secret = "{{ prosody_token_app_secret }}";     -- application secret known only to your token
    {% endif %}
    allow_empty_token = {% if prosody_visitor_token_allow_empty -%}true{% else -%}false{% endif %}     -- tokens are verified only if they are supplied by the client
{% if prosody_public_key_repo_url %}
    asap_key_server = "{{ prosody_public_key_repo_url }}"
{% endif %}
{% if prosody_vpaas_public_key_repo_url %}
    vpaas_asap_key_server = "{{ prosody_vpaas_public_key_repo_url }}"
{% endif %}
{% if prosody_cache_keys_url %}
        cache_keys_url = "{{prosody_cache_keys_url}}";
{% endif %}
{% else %}
    authentication = 'jitsi-anonymous'
{% endif %}
    ssl = {
        key = '/etc/prosody/certs/{{ prosody_domain_name }}.key';
        certificate = '/etc/prosody/certs/{{ prosody_domain_name }}.crt';
    }
    modules_enabled = {
      'bosh';
      'ping';
    {% if mod_external_services_exists %}
      "external_services";
    {% endif %}
    {% if prosody_xmpp_resume %}
      "smacks";
    {% endif %}
    {% if prosody_enable_jiconop_module %}
      "jiconop";
    {% endif %}
    {% if prosody_meet_conf_duration_enabled %}
      "conference_duration";
    {% endif %}
    {% if prosody_enable_filter_iq_rayo %}
      "filter_iq_rayo";
    {% endif %}
{% if prosody_enable_shortlived_tokens %}
      "short_lived_token";
{% endif %}
      "features_identity";
      "muc_occupant_session";
    }
    main_muc = 'conference.v{{ item }}.meet.jitsi';
    shard_name = "{{ shard_name }}"
    region_name = "{{ prosody_region }}"
    release_number = "{{ jitsi_release_number }}"


VirtualHost 'auth.meet.jitsi'
    modules_enabled = {
      'limits_exception';
      'ping';
      'smacks';
    }
    authentication = 'internal_hashed'
    smacks_hibernation_time = 15;

Component 'conference.v{{ item }}.meet.jitsi' 'muc'
    storage = 'memory'
    muc_room_cache_size = 10000
    muc_tombstones = false
    muc_room_allow_persistent = false
    restrict_room_creation = true
    modules_enabled = {
{% if prosody_hide_all_rooms %}
        "muc_hide_all";
{% endif %}
{% if prosody_enable_tokens %}
    {% if prosody_enable_token_room_verification %}
        "token_verification";
    {% endif %}
{% endif %}
{% if prosody_enable_muc_domain_mapper %}
        "muc_domain_mapper";
{% endif %}
{% if prosody_enable_muc_rate_limit %}
        "muc_rate_limit";
{% endif %}
{% if muc_meeting_id_exists.stat.exists %}
        "muc_meeting_id";
{% endif %}
{% if prosody_enable_rate_limit %}
        "rate_limit";
{% endif %}
        'fmuc';
        's2s_bidi';
        's2s_whitelist';
        's2sout_override';
{% if prosody_visitors_muc_max_occupants %}
        'muc_max_occupants';
{% endif %}
{% if prosody_limit_messages and prosody_limit_messages_load_module %}
        "muc_limit_messages";
{% endif %}
{% if prosody_meet_ban_auth_enabled %}
        "muc_auth_ban";
{% endif %}
{% if prosody_meet_auth_vpaas_enabled %}
        "muc_auth_vpaas";
{% endif %}
{% if prosody_meet_permissions_vpaas_enabled %}
        "muc_permissions_vpaas";
{% endif %}
{% if prosody_meet_webhooks_enabled %}
        "muc_visitors_webhooks";
{% endif %}
        "muc_occupant_session";
    }
    muc_room_default_presence_broadcast = {
        visitor = false;
        participant = true;
        moderator = true;
    };
    muc_room_locking = false
    muc_room_default_public_jids = true
{% if prosody_visitors_muc_max_occupants %}
    muc_max_occupants = {{ prosody_visitors_muc_max_occupants }}
    muc_access_whitelist = {
        "{{ prosody_domain_name }}";
    }
{% endif %}
{% if prosody_enable_rate_limit %}
    -- Max allowed join/login rate in events per second.
	rate_limit_login_rate = {{ prosody_rate_limit_login_rate }};
	-- The rate to which sessions from IPs exceeding the join rate will be limited, in bytes per second.
	rate_limit_session_rate = {{ prosody_rate_limit_session_rate }};
	-- The time in seconds, after which the limit for an IP address is lifted.
	rate_limit_timeout = {{ prosody_rate_limit_timeout }};
	-- List of regular expressions for IP addresses that are not limited by this module.
	rate_limit_whitelist = {
{% for i in prosody_rate_limit_whitelist %}
      "{{ i }}";
{% endfor %}
    };
	-- The size of the cache that saves state for IP addresses
	rate_limit_cache_size = {{ prosody_rate_limit_cache_size }};
{% endif %}
{% if prosody_enable_muc_rate_limit %}
    muc_rate_joins = 30;
{% endif %}

{% if secrets_jigasi_conference_A %}
VirtualHost "jigasia.v{{ item }}.meet.jitsi"
    modules_enabled = {
{% if prosody_xmpp_resume %}
      "smacks";
{% endif %}
    }
    authentication = "jitsi-shared-secret"
    shared_secret = "{{ secrets_jigasi_conference_A }}"
    smacks_max_old_sessions = 2000;
{% endif %}

{% if secrets_jigasi_conference_B %}
VirtualHost "jigasib.v{{ item }}.meet.jitsi"
    modules_enabled = {
{% if prosody_xmpp_resume %}
      "smacks";
{% endif %}
    }
    authentication = "jitsi-shared-secret"
    shared_secret = "{{ secrets_jigasi_conference_B }}"
    smacks_max_old_sessions = 2000;
{% endif %}

{% if prosody_enable_file_sharing %}
Component "filesharing.v{{ item }}.meet.jitsi" "filesharing_component"
    muc_component = "conference.v{{ item }}.meet.jitsi"
{% endif %}

{% if prosody_polls_enabled %}
Component "polls.v{{ item }}.meet.jitsi" "polls_component"
{% endif %}
