---
- name: Install consul service file
  ansible.builtin.template:
    mode: 0644
    src: "haproxy.json.j2"
    dest: "/etc/consul.d/haproxy.json"
  when:
    - not haproxy_configure_only
  notify:
    - Restart consul for consul-haproxy

- name: Make sure consul service is running
  ansible.builtin.systemd:
    name: consul
    state: started
    enabled: true
  ignore_errors: true
