TENANT_MAP_PATH={{ haproxy_tenant_pin_map_path }}
CONSUL_URL=http://localhost:8500
ENVIRONMENT={{ hcv_environment }}
DAEMON_MODE=True
DAEMON_TICK_DURATION={{ haproxy_tenant_pin_tick_duration }}
STATSD_ENABLED=True
