template(name="SimpleJSONFormat" type="string" string= "%timegenerated% %msg:::sp-if-no-1st-sp%%msg:::drop-last-lf%\n")
if $programname == '{{ haproxy_tenant_pin_service_name }}' then {{ haproxy_tenant_pin_log_dir }}/tenant-pin.log;SimpleJSONFormat
& stop
