vault {
  address = "{{ vault_proxy_address }}"
  retry {
    num_retries = 5
  }
}

auto_auth {
  method "{{ vault_proxy_auth_method }}" {
    config = {{ vault_proxy_auth_config }}
  }
}

cache {
  // An empty cache stanza still enables caching
}

api_proxy {
  use_auto_auth_token = true
}

listener "tcp" {
  address = "127.0.0.1:8100"
  tls_disable = true
}