api_addr = "{{ vault_server_api_url }}"
cluster_name = "vault"
default_lease_ttl = "5m"
listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_disable = "false"
  tls_cert_file = "{{ vault_tls_cert_path }}"
  tls_key_file  = "{{ vault_tls_key_path }}"
}
log_level = "INFO"
max_lease_ttl = "30m"

seal "{{ vault_server_seal_type }}" {{ vault_server_seal_config }}

storage "{{ vault_server_storage_type }}" {{ vault_server_storage_config }}

ui = "true"