#!/bin/bash
grep -q "{{ vault_agent_replace_pattern }}" /etc/vault.d/agent.hcl
if [ $? -ne 0 ]; then
  exit 0
fi
. /usr/local/bin/oracle_cache.sh

sed -i "s/{{ vault_agent_replace_pattern }}/{{ vault_agent_replace_value }}/g" /etc/vault.d/agent.hcl
