---
ansible_ec2_placement_region:
# give a default shard name in case none is provided
hcv_environment: all
jaas_feedback_metadata_url: false
jaas_feedback_metadata_url_path: /webhook-proxy/feedback
# URL for branding to redirect users to standalone offering
jitsi_meet_8x8_video_meetings_url: false
jitsi_meet_conference_request_global_rate: 50
jitsi_meet_custom_landing_page_url: false
jitsi_meet_amplitude_api_key: false
jitsi_meet_amplitude_include_utm: false
jitsi_meet_analytics_whitelist: false
jitsi_meet_anonymize_logs: false
jitsi_meet_anonymousdomain: false
jitsi_meet_api_cdn_enabled: false
jitsi_meet_api_cdn_host: "{{ environment_domain_name }}"
jitsi_meet_api_relative_base: '/v1/_jaas'
jitsi_meet_api_billing_counter: false
jitsi_meet_api_billing_counter_path: '/billing-counter/v1/connection'
jitsi_meet_api_branding_data_url: false
jitsi_meet_api_branding_data_url_path: /branding/public/v1/conferences
jitsi_meet_api_conference_event_url: "{{ jitsi_meet_api_url }}/conferenceEvent"
jitsi_meet_api_conference_invite_callflows_url: false
jitsi_meet_api_conference_invite_url: false
jitsi_meet_api_conference_invite_url_path: /v1/meeting/invite
jitsi_meet_api_conference_mapper_url: "{{ jitsi_meet_api_url }}/conferenceMapper"
jitsi_meet_api_conference_mapper_url_path: /vmms-conference-mapper/v1/access
jitsi_meet_api_dialin_numbers_url: "{{ jitsi_meet_api_url }}/phoneNumberList"
jitsi_meet_api_dialin_numbers_url_path: /vmms-conference-mapper/access/v1/dids
jitsi_meet_api_dialout_auth_url: false
jitsi_meet_api_dialout_auth_url_path: /phone-authorize
jitsi_meet_api_dialout_region_url: false
jitsi_meet_api_dialout_region_url_path: /customer-configs/v1/outbound-destination
jitsi_meet_api_dialout_codes_url: false
jitsi_meet_api_directory_search_url: false
jitsi_meet_api_directory_search_url_path: /v1/directory/search
jitsi_meet_api_guest_dial_out_status_url: false
jitsi_meet_api_guest_dial_out_status_url_path: /voxadapter/v1/guest/conference/call_in/status
jitsi_meet_api_guest_dial_out_url: false
jitsi_meet_api_guest_dial_out_url_path: /voxadapter/v1/guest/conference/call_in
jitsi_meet_api_jaas_token_url: false
jitsi_meet_api_jaas_token_url_path: /_jaas/token-mapping
jitsi_meet_api_jaas_webhook_proxy: false
jitsi_meet_api_jaas_webhook_proxy_path: /v1/_jaas/webhook-proxy
jitsi_meet_api_jaas_conference_creator_url: false
jitsi_meet_api_jaas_conference_creator_url_path: /v1/_jaas/vmms-conference-mapper/v1/access/conference-creator
# endpoint used for getting the sharable recording link
jitsi_meet_api_recoding_sharing_url: false
jitsi_meet_api_recoding_sharing_url_path: /jaas-recordings/link
jitsi_meet_api_screenshot_history_url: false
jitsi_meet_api_screenshot_history_url_path: /vo-content-sharing-history/v1/file-metadata
jitsi_meet_api_screenshot_history_region_url: false
jitsi_meet_api_screenshot_history_region_url_path: /vo-content-sharing-history/v1/file-metadata/storage-info
jitsi_meet_api_sip_invite_url: false
jitsi_meet_api_sip_invite_url_path: /sip-jibri-gateway/jibris/invite
jitsi_meet_api_proxy_servername: api.jitsi.net
jitsi_meet_api_url: https://api.jitsi.net
jitsi_meet_apple_site_associations: |
  {
      "applinks": {
          "apps": [],
          "details": [
              {
                  "appID": "FC967L3QRG.org.jitsi.meet",
                  "paths": [ "NOT /static/*", "*" ]
              },
              {
                  "appID": "FC967L3QRG.com.atlassian.JitsiMeet.ios",
                  "paths": [ "NOT /static/*", "*" ]
              }
          ]
      }
  }
jitsi_meet_assetlinks: |
  [{
      "relation": ["delegate_permission/common.handle_all_urls"],
      "target": {
          "namespace": "android_app",
          "package_name": "org.jitsi.meet",
          "sha256_cert_fingerprints": ["F6:C8:93:15:16:9D:E0:08:0A:B7:EA:36:15:26:24:25:60:93:77:F7:61:79:89:E9:52:05:F4:09:B3:0E:59:44"]
      }
  }]
jitsi_meet_bosh_host: "{{ environment_domain_name }}"
jitsi_meet_bosh_path: "http-bind"
jitsi_meet_bosh_protocol: "https://"
jitsi_meet_bosh_url: "{{ jitsi_meet_bosh_protocol }}{{ jitsi_meet_bosh_host }}/{{ jitsi_meet_bosh_path }}"
jitsi_meet_branding_override: "jitsi-meet"
jitsi_meet_cdn_base_url: "{{'/v1/_cdn' if jitsi_meet_cdn_cloudflare_enabled else 'https://web-cdn.jitsi.net'}}"
jitsi_meet_cdn_cloudflare_enabled: false
jitsi_meet_cdn_deployment_enabled: false
jitsi_meet_cdn_distribution_id: "E1CYRHC3DEPH0L"
jitsi_meet_cdn_enabled: false
jitsi_meet_cdn_prefix: ""
jitsi_meet_cdn_s3: "jitsi-cdn-origin-20181106"
jitsi_meet_channel_last_n: -1
jitsi_meet_chrome_desktop_key: diibjkoicjeejcmhdnailmkgecihlobk
# These control the extension banner display in jitsi meet when extension is not installed.
jitsi_meet_chrome_extension_banner_url: false
jitsi_meet_edge_extension_banner_url: false
jitsi_meet_chrome_extension_info: false
jitsi_meet_close_page_enabled: false
jitsi_meet_close_page_redirect_url: false
jitsi_meet_colibri_proxy_enabled: "{{ jvb_colibri_proxy_enabled | default(false) }}"
# match only 10.52 and 10.53 by default (lonely CIDRs) overridden for each environment
jitsi_meet_colibri_proxy_second_octet_regexp: "{{ jvb_colibri_proxy_second_octet_regexp | default('5[2-3]') }}"
# match 64-127
jitsi_meet_colibri_proxy_third_octet_regexp: "{{ jvb_colibri_proxy_third_octet_regexp | default('6[4-9]|[7-9][0-9]|1[0-1][0-9]|12[0-7]') }}"
# match 0-255
jitsi_meet_colibri_proxy_fourth_octet_regexp: "{{ jvb_colibri_proxy_fourth_octet_regexp | default('25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?') }}"

jitsi_meet_conference_info_overwrite: false
jitsi_meet_conference_info_visible: "[ 'recording', 'local-recording', 'raised-hands-count' ]"
jitsi_meet_conference_info_autohide: "[ 'highlight-moment', 'subject', 'conference-timer', 'participants-count', 'e2ee',
  'transcribing', 'video-quality', 'visitors-count', 'insecure-room' ]"
jitsi_meet_conference_request_host: "{{ environment_domain_name }}"
jitsi_meet_conference_request_path: "conference-request/v1"
jitsi_meet_colibri_websocket_port: "{{ jvb_websockets_port | default(9090) }}"
jitsi_meet_config_path: "/etc/jitsi/meet"
jitsi_meet_configure_flag: true
jitsi_meet_content_security_policy_on_root: false
jitsi_meet_cors_avatar_urls: false
jitsi_meet_deb_pkg_name: "jitsi-meet-web"
jitsi_meet_deb_pkg_version: "*"
jitsi_meet_disable_firefox_p2p: false
jitsi_meet_disable_iframe_api: false
jitsi_meet_disable_reactions: false
jitsi_meet_disable_reactions_moderation: false
jitsi_meet_disable_record_audio_notification: false
jitsi_meet_disable_speaker_stats_search: false
jitsi_meet_disable_ssrc_rewriting: false
jitsi_meet_disable_stage_filmstrip: false
jitsi_meet_disable_vp9_scalability_mode: false
jitsi_meet_domain_name: "{{ environment_domain_name }}"
jitsi_meet_download_apps_url: false
jitsi_meet_dropbox_app_key: false
jitsi_meet_dump_transcript: false
jitsi_meet_e2eping_enabled: false
jitsi_meet_enable_advanced_audio_settings: false
jitsi_meet_enable_calendar: false
jitsi_meet_enable_colibri_websockets: false
jitsi_meet_enable_conference_request_http: false
jitsi_meet_enable_dtx: false
jitsi_meet_enable_email_in_stats: false
jitsi_meet_enable_event_proxy: true
jitsi_meet_enable_face_landmarks_enable_centering: false
jitsi_meet_enable_face_landmarks_detect_expressions: false
jitsi_meet_enable_face_landmarks_display_expressions: false
jitsi_meet_enable_face_landmarks_enable_rtc_stats: false
jitsi_meet_enable_local_recording: false
jitsi_meet_enable_file_recordings: false
jitsi_meet_enable_file_recordings_sharing: false
jitsi_meet_enable_forced_client_reload: false
jitsi_meet_enable_graceful_reconnect: false
jitsi_meet_enable_gzip: false
jitsi_meet_enable_insecure_room_name_warning: false
jitsi_meet_enable_livestreaming: false
jitsi_meet_enable_local_video_flip: true
jitsi_meet_enable_lock_room_for_all: false
jitsi_meet_enable_lock_room_ten_digits: false
jitsi_meet_enable_multi_domain: false
jitsi_meet_enable_p2p: false
jitsi_meet_enable_p2p_turn: false
jitsi_meet_enable_prejoin_page: false
jitsi_meet_enable_room_api: false
jitsi_meet_enable_save_logs: true
jitsi_meet_enable_send_multiple_streams: false
jitsi_meet_enable_simulcast: true
jitsi_meet_enable_simulcast_av1: false
jitsi_meet_enable_simulcast_vp9: false
jitsi_meet_enable_source_name_signaling: false
jitsi_meet_enable_stereo: false
jitsi_meet_enable_transcription: false
jitsi_meet_enable_turn_udp_jvb: false
jitsi_meet_enable_userdirs: false
jitsi_meet_enable_unsafe_room_warning: false
jitsi_meet_enable_user_roles_based_on_token: false
jitsi_meet_enable_welcome_page: true
jitsi_meet_enable_webhid_feature: true
jitsi_meet_enable_xmpp_websockets: true
jitsi_meet_environment_type: dev
jitsi_meet_filesharing_api_url: false
jitsi_meet_filesharing_api_url_path: /vo-content-sharing-history/v1/documents
jitsi_meet_feedback_percentage: 100
jitsi_meet_giphy_enabled: false
jitsi_meet_giphy_sdk_key: ''
jitsi_meet_google_api_app_client_id: false
jitsi_meet_haproxy_bind_port: 9092
jitsi_meet_hidden_from_recorder_feature: false
jitsi_meet_install_flag: true
jitsi_meet_jaas_actuator_url: false
jitsi_meet_jaas_actuator_url_path: /jaas-actuator
jitsi_meet_jvb_preferred_codecs: "[ 'AV1', 'VP9', 'VP8', 'H264' ]"
jitsi_meet_jvb_preferred_mobile_codecs: "[ 'VP8', 'H264', 'VP9' ]"
jitsi_meet_load_test_enabled: false
jitsi_meet_load_test_repo: https://github.com/jitsi/jitsi-meet-load-test.git
jitsi_meet_local_recording_notify_all: true
jitsi_meet_microsoft_api_app_client_id: false
jitsi_meet_min_height_quality_level: false
jitsi_meet_mobile_xmpp_ws_threshold: false
jitsi_meet_moderated_service_url: false
jitsi_meet_mouse_move_callback_interval: 1000
jitsi_meet_nginx_only_flag: false
jitsi_meet_nginx_redirect_missing_flag: false
jitsi_meet_nginx_redirect_url: https://hipchat.com/
jitsi_meet_nginx_root: "/usr/share/{{ jitsi_meet_branding_override }}"
# Our networks and cloudflare (cloudflare ranges come from https://www.cloudflare.com/en-gb/ips/)
jitsi_meet_nginx_trusted_proxies: [
  "127.0.0.1", "::1", "10.0.0.0/8", "103.21.244.0/22", "103.22.200.0/22", "103.31.4.0/22", "104.16.0.0/13", "104.24.0.0/14",
  "108.162.192.0/18", "131.0.72.0/22", "141.101.64.0/18", "162.158.0.0/15", "172.64.0.0/13", "173.245.48.0/20", "188.114.96.0/20", "190.93.240.0/20",
  "197.234.240.0/22", "198.41.128.0/17", "2400:cb00::/32", "2405:8100::/32", "2405:b500::/32", "2606:4700::/32", "2803:f800::/32", "2a06:98c0::/29",
  "2c0f:f248::/32"
]
jitsi_meet_nginx_ws_timeout: false
jitsi_meet_no_audio_detection_enabled: true
jitsi_meet_no_auto_local_audio: false
jitsi_meet_noisy_mic_detection_enabled: true
jitsi_meet_opus_red_enabled: false
jitsi_meet_override_plugin_contents: ""
jitsi_meet_p2p_preferred_codecs: "[ 'AV1', 'VP9', 'VP8', 'H264' ]"
jitsi_meet_p2p_preferred_mobile_codecs: "[ 'VP8', 'H264', 'VP9' ]"
jitsi_meet_people_search_query_types: false
jitsi_meet_performance_stats: false
jitsi_meet_polls_disabled: false
jitsi_meet_prefer_sctp: true
jitsi_meet_prosody_deb_pkg_name: "jitsi-meet-prosody"
jitsi_meet_prosody_deb_pkg_version: "{{ jitsi_meet_deb_pkg_version }}"
jitsi_meet_recordings_prompt: false
jitsi_meet_recordings_warn: false
jitsi_meet_recordings_require_consent: false
jitsi_meet_recordings_consent_learn_more_url: ''
jitsi_meet_recordings_skip_consent_in_meeting: false
jitsi_meet_redirect_to_ssl: true
jitsi_meet_require_displayname: false
jitsi_meet_resolution: false
jitsi_meet_resolution_force_aspect_ratio: false
jitsi_meet_restrict_HD_tile_view_jvb: false
jitsi_meet_rtcstats_enabled: false
jitsi_meet_rtcstats_log_sdp: false
jitsi_meet_rtcstats_store_logs: false
jitsi_meet_rtcstats_endpoint: wss://rtcstats-server.jitsi.net/
jitsi_meet_rtcstats_poll_interval: 10000
jitsi_meet_rtcstats_use_legacy: false
jitsi_meet_screenshot_capture_enabled: false
jitsi_meet_screenshot_capture_mode: 'recording'
jitsi_meet_show_spot_consent_dialog: false
jitsi_meet_signal_api_server_name: "signal-api-{{ jitsi_meet_domain_name }}"
jitsi_meet_signal_api_ssl_certificate: "{{ jitsi_meet_ssl_certificate }}"
jitsi_meet_signal_api_ssl_key_name: "{{ jitsi_meet_ssl_key_name }}"
jitsi_meet_signal_kick_endpoint: false
jitsi_meet_signal_sidecar_enabled: true
jitsi_meet_site_path: /usr/share/jitsi-meet
jitsi_meet_skip_interim_transcriptions: false
jitsi_meet_ssl_certificate: replaceme
jitsi_meet_ssl_dest_dir: /etc/nginx/ssl
jitsi_meet_ssl_key_name: replaceme
jitsi_meet_start_audio_muted_count: 25
jitsi_meet_start_video_muted_count: 25
jitsi_meet_stun_hosts:
  ap-se-1: all-ap-se-1-turn.jitsi.net:443
  ap-se-2: all-ap-se-2-turn.jitsi.net:443
  eu-central-1: all-eu-central-1-turn.jitsi.net:443
  eu-west-1: all-eu-west-1-turn.jitsi.net:443
  us-east-1: all-us-east-1-turn.jitsi.net:443
  us-west-2: all-us-west-2-turn.jitsi.net:443
jitsi_meet_talk_while_muted_enabled: true
jitsi_meet_title_metadata_override: false
jitsi_meet_token_auth_url: false
jitsi_meet_token_auth_url_auto_redirect: false
jitsi_meet_token_logout_url: false
jitsi_meet_token_match_tenant: false
jitsi_meet_token_sso: false
jitsi_meet_toolbar_buttons_filter: []
jitsi_meet_transcription_disable_jigasi: false
jitsi_meet_user_documentation_url: false
jitsi_meet_video_quality: false
jitsi_meet_visitors_enabled: "{{ visitors_enabled | default(false) }}"
jitsi_meet_visitors_count: "{{ visitors_count | default(0) }}"
jitsi_meet_visitors_queue_service_url: false
jitsi_meet_visitors_queue_service_url_path: /waiting-queue
jitsi_meet_whiteboard_collab_server_base_url: ''
jitsi_meet_whiteboard_enabled: false
jitsi_meet_whiteboard_user_limit: 25
jitsi_meet_ws_host: "{{ environment_domain_name }}"
jitsi_meet_ws_path: "xmpp-websocket"
jitsi_meet_ws_protocol: "wss://"
jitsi_meet_ws_url: "{{ jitsi_meet_ws_protocol }}{{ jitsi_meet_ws_host }}/{{ jitsi_meet_ws_path }}"
jitsi_meet_xmpp_domain_name: "{{ environment_domain_name }}"
jitsi_release_number: ''
shard_name: "{{ hcv_environment }}"
# start deeplinking config
jitsi_meet_desktop_app_name: "Jitsi Meet"
jitsi_meet_mobile_app_name: "Jitsi Meet"
jitsi_meet_ios_download_link: "https://itunes.apple.com/us/app/jitsi-meet/id1165103905"
jitsi_meet_android_download_link: "https://play.google.com/store/apps/details?id=org.jitsi.meet"
jitsi_meet_f_droid_url: "https://f-droid.org/en/packages/org.jitsi.meet/"
jitsi_meet_android_app_package: "org.jitsi.meet"
jitsi_meet_app_scheme: "org.jitsi.meet"
jitsi_meet__deeplink_hide_logo: false
jitsi_meet_deeplink_show_image: false
jitsi_meet_dynamic_linking:
  apn: "org.jitsi.meet"
  appCode: "w2atb"
  ibi: "com.atlassian.JitsiMeet.ios"
  isi: "1165103905"
# end deeplinking config
legal_urls:
  helpCentre: 'https://web-cdn.jitsi.net/faq/meet-faq.html'
  privacy: 'https://jitsi.org/meet/privacy'
  terms: 'https://jitsi.org/meet/terms'
nginx_rate_limit_whitelist: ["127.0.0.1", "10.0.0.0/8"]
