datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"
encrypt = "{{ consul_encryption_key }}"
retry_join = {{ consul_retry_join_lan }}
retry_join_wan = {{ consul_retry_join_wan }}
server = true
bootstrap_expect = 3
advertise_addr = "{{ ansible_default_ipv4.address }}"
addresses {
    http = "0.0.0.0"
}
connect {
  enabled = true
}
telemetry {
  disable_hostname = true
  dogstatsd_addr = "localhost:8125"
  prometheus_retention_time  = "5m"
}