[Unit]
Description=JVB Terminating Instance Monitor
After=network.target

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/monitor-terminating-instance.sh
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
