template(name="SimpleJSONFormat" type="string" string= "%msg:::sp-if-no-1st-sp%%msg:::drop-last-lf%\n")
if $programname == '{{ jigasi_rtcstats_push_service_name }}' then {{ jigasi_rtcstats_push_log_dir }}/agent.log;SimpleJSONFormat
& stop