---
- name: register installed sidecar software version
  shell: "{{ sip_jibri_sidecar_instance_version_command }}"
  register: sip_jibri_sidecar_instance_version_shell
  when: (sip_jibri_sidecar_instance_version_command | length) > 0

- name: set sip_jibri instance version fact
  set_fact:
    sip_jibri_sidecar_instance_version: "{{ sip_jibri_sidecar_instance_version_shell.stdout }}"
  when: sip_jibri_sidecar_instance_version_shell is defined

- name: copy sip_jibri signing key file
  copy: dest="{{ sip_jibri_key_path }}" mode=0640 content="{{ asap_key['key'] }}" owner="{{ sip_jibri_username }}"

- name: sidecar environment configuration
  template: src=sidecar.env.j2 dest={{ sip_jibri_env_path }}

- name: xmpp user map file
  template: xmpp-logins.json.j2 dest={{ sip_jibri_xmpp_logins_path }}

- name: Configure systemd script for sidecar service
  template: src=sidecar.systemd.j2 dest=/lib/systemd/system/{{ sip_jibri_sidecar_service_name }}.service

- name: Start server service and set it enabled
  service: name={{ sip_jibri_sidecar_service_name }} state=started enabled=yes

# Run the the health checker regularly
- name: sidecar health check script cron
  cron: user=root
        state=present
        name="Sidecar health check script"
        minute="*"
        hour="*"
        job="{{ sip_jibri_health_script }} > /tmp/health-sidecar-cron-output 2>&1"
