---
- name: Create home directory for www-data user
  ansible.builtin.file:
    path: /var/www
    state: directory
    owner: "www-data"
    group: "www-data"
    recurse: true

- name: TestRTC | Create testrtc folder
  ansible.builtin.file:
    state: directory
    path: "{{ testrtc_base_path }}"
    owner: ubuntu
    group: ubuntu
    mode: 0755

- name: TestRTC | Pull source files from GIT # noqa latest[git]
  become: true
  become_user: ubuntu
  ansible.builtin.git:
    repo: "{{ testrtc_git_repository }}"
    dest: "{{ testrtc_base_path }}"
    force: true

- name: TestRTC | Install developer tools and frameworks # noqa no-changed-when
  ansible.builtin.command: npm install
  become: true
  become_user: ubuntu
  args:
    chdir: "{{ testrtc_base_path }}"

- name: TestRTC | Install grunt and bower
  community.general.npm:
    path: "{{ testrtc_base_path }}"
    name: "{{ item }}"
    global: true
    production: true
    state: present
  with_items:
    - grunt
    - bower

- name: TestRTC | Build testrtc # noqa no-changed-when
  ansible.builtin.command: "{{ item }}"
  become: true
  become_user: ubuntu
  args:
    chdir: "{{ testrtc_base_path }}"
  with_items:
    - bower update
    - grunt
    - grunt build

- name: TestRTC | Deploy testrtc
  ansible.builtin.command: cp -a {{ testrtc_base_path }}/out/src {{ testrtc_web_root_path }}
  args:
    creates: "{{ testrtc_web_root_path }}"

- name: TestRTC | Create libs dir
  ansible.builtin.file:
    path: "{{ testrtc_web_root_path }}/libs"
    state: directory
    mode: 0755

- name: TestRTC | Postinstall move main.js
  ansible.builtin.command: mv {{ testrtc_web_root_path }}/main.js {{ testrtc_web_root_path }}/libs
  args:
    creates: "{{ testrtc_web_root_path }}/libs/main.js"

- name: TestRTC | Postinstall fix index.html # noqa no-changed-when command-instead-of-module
  ansible.builtin.command: sed -i 's/"main.js/"libs\/main.js/' {{ testrtc_web_root_path }}/index.html

- name: TestRTC | Clean testrtc # noqa no-changed-when
  ansible.builtin.command: "{{ item }}"
  args:
    chdir: "{{ testrtc_base_path }}"
  with_items:
    - grunt clean

- name: TestRTC | Clean testrtc again # noqa no-changed-when
  ansible.builtin.command: "{{ item }}"
  args:
    chdir: "{{ testrtc_base_path }}"
  with_items:
    - grunt clean
