---

- name: Reload haproxy systemd
  ansible.builtin.systemd:
    name: haproxy
    state: reloaded
    daemon_reload: true
  notify: Set shard states

- name: Restart haproxy systemd
  ansible.builtin.systemd:
    name: haproxy
    state: restarted
    daemon_reload: true
  register: serviceStatus
  until: serviceStatus.ActiveState == "active"
  retries: 15
  delay: 10
  notify: Set shard states

- name: Set shard states
  ansible.builtin.shell: |
    set -o pipefail
    cat /tmp/haproxy-facts.json | \
    jq -r '.backends|map("set server {{ haproxy_backend_name }}/\(.shard) state \(.shard_state)")|.[]' | \
    sudo socat /var/run/haproxy/admin.sock stdio
  args:
    executable: /bin/bash
  when:
    - haproxy_set_shard_states_on_reconfigure
