---
- name: SSH cipher configuration
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^Ciphers '
    insertafter: "# Ciphers and keying"
    line: "Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr"
    state: present
  notify: Restart sshd for sshusers
  when: ssh_users_config_flag

- name: SSH HMACs configuration
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^MACs '
    insertafter: "# Ciphers and keying"
    line: "MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256"
    state: present
  notify: Restart sshd for sshusers
  when: ssh_users_config_flag

- name: Create sshsudousers group
  ansible.builtin.group:
    name: sshsudousers
    state: present
  when: ssh_users_accounts_flag or ssh_ops_account_flag

- name: Remove sshusers sudoers
  ansible.builtin.file:
    path: "/etc/sudoers.d/sshusers"
    state: "absent"
  when: ssh_users_accounts_flag

- name: Create sudoers
  ansible.builtin.template:
    src: sudoers.d.sshusers.j2
    dest: "/etc/sudoers.d/100-sshsudousers"
    mode: 0440
    owner: root
    group: root
    validate: "/usr/sbin/visudo -cf %s"
  when: ssh_users_accounts_flag

- name: Configure device42 sudoers
  ansible.builtin.template:
    src: sudoers.d.device42.j2
    dest: "/etc/sudoers.d/101-device42"
    mode: 0440
    owner: root
    group: root
    validate: "/usr/sbin/visudo -cf %s"
  when: ssh_users_config_flag

- name: Configure rapid7 sudoers
  ansible.builtin.template:
    src: sudoers.d.rapid7.j2
    dest: "/etc/sudoers.d/102-rapid7"
    mode: 0440
    owner: root
    group: root
    validate: "/usr/sbin/visudo -cf %s"
  when: ssh_users_config_flag

- name: User creation # noqa args[module]
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: "{{ item.groups | join(',') }}"
    shell: /bin/bash
    comment: "{{ item.real_name }}"
    password: "{{ item.password | default('*') }}"
    createhome: true
    state: "{{ item.state }}"
    update_password: "on_create"
  with_items: "{{ ssh_users }}"
#  no_log: true
  when: ssh_users_accounts_flag

- name: Deploy ssh keys
  ansible.posix.authorized_key:
    user: "{{ item.0.username }}"
    key: "{{ item.1 }}"
  when:
    - item.0.state != "absent"
    - ssh_users_accounts_flag
  with_subelements:
    - "{{ ssh_users }}"
    - ssh_key
  no_log: true

- name: Security User creation # noqa args[module]
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: "{{ (item.groups + security_additional_groups) | join(',') }}"
    shell: /bin/bash
    comment: "{{ item.real_name }}"
    password: "{{ item.password | default('*') }}"
    createhome: true
    state: "{{ item.state }}"
    update_password: "on_create"
  with_items: "{{ security_users }}"
  no_log: true
  when: ssh_users_accounts_flag

- name: Deploy security ssh keys
  ansible.posix.authorized_key:
    user: "{{ item.0.username }}"
    key: "{{ item.1 }}"
  when:
    - item.0.state != "absent"
    - ssh_users_accounts_flag
  with_subelements:
    - "{{ security_users }}"
    - ssh_key
  no_log: true

- name: Ubuntu jenkins service key
  ansible.posix.authorized_key:
    user: "ubuntu"
    key: "{{ item }}"
  with_items: "{{ jenkins_deploy_keys }}"
  no_log: true
  when: ssh_users_system_flag

- name: Ops user account creation
  ansible.builtin.user:
    name: "ops"
    groups: "sshsudousers"
    shell: /bin/bash
    comment: "Ops User"
    password: "*"
    createhome: true
    state: present
  with_items: "{{ security_users }}"
  when: ssh_ops_account_flag

- name: SSH TrustedCA pem file
  ansible.builtin.copy:
    content: "{{ ssh_users_trusted_ca_pem }}"
    dest: /etc/ssh/trusted-CA.pem
    mode: 0600
  notify: Restart sshd for sshusers
  when: ssh_ops_account_flag

- name: SSH AuthorizedPrincipals directory
  ansible.builtin.file:
    path: /etc/ssh/auth_principals
    state: directory
    mode: 0755
  notify: Restart sshd for sshusers
  when: ssh_ops_account_flag

- name: SSH AuthorizedPrincipals ops mapping
  ansible.builtin.copy:
    content: "ops\n"
    dest: /etc/ssh/auth_principals/ops
    mode: 0644
  notify: Restart sshd for sshusers
  when: ssh_ops_account_flag

- name: SSH AuthorizedPrincipals configuration
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^#?AuthorizedPrincipalsFile '
    insertafter: "# Expect .ssh/authorized_keys2 to be disregarded by default in future."
    line: "AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u"
    state: present
  notify: Restart sshd for sshusers
  when: ssh_ops_account_flag

- name: SSH TrustedUserCAKeys configuration
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^#?TrustedUserCAKeys '
    insertafter: "AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u"
    line: "TrustedUserCAKeys /etc/ssh/trusted-CA.pem"
    state: present
  notify: Restart sshd for sshusers
  when: ssh_ops_account_flag
