{
  "capabilities": {{ selenium_grid_node_capabilities|to_json }},
  "loadedFromFile": "node_5555.json",
  "proxy": "com.groupon.seleniumgridextras.grid.proxies.SetupTeardownProxy",
  "servlets": [],
  "maxSession": {{ selenium_grid_node_max_session }},
  "port": 5555,
  "register": true,
  "unregisterIfStillDownAfter": 60000,
  "hubPort": 4444,
  "hubHost": "{{ selenium_grid_hub_host }}",
  "registerCycle": 5000,
  "nodeStatusCheckTimeout": 5000,
  "custom": {},
  "downPollingLimit": 0,
  "browserTimeout": 60,
  "timeout": 60
}
