{
  "theConfigMap": {
    "hub_config_files": [
      "hub_4444.json"
    ],
    "auto_start_hub": "1",
    "iedriver": {
      "version": "9.0.0"
    },
    "default_role": "hub",
    "chromedriver": {
      "bit": "64",
      "version": "122.0.6261.94"
    },
    "auto_update_drivers": "1",
    "auto_start_node": "0",
    "hub_config": {},
    "geckodriver": {
      "bit": "64",
      "version": "0.34.0"
    },
    "log_maximum_age_ms": 8.64E8,
    "reboot_after_sessions": "0",
    "grid_extras_port": "3000",
    "webdriver": {
      "version": "3.141.59"
    },
    "node_config_files": [],
    "video_recording_options": {
      "videos_to_keep": "-1",
      "record_test_videos": "false"
    }
  }
}
