{
  "capabilities": {{ selenium_grid_node_capabilities|to_json }},
  "proxy": "org.openqa.grid.selenium.proxy.DefaultRemoteProxy",
  "maxSession": {{ selenium_grid_node_max_session }},
  "port": 5555,
  "register": true,
  "registerCycle": 5000,
  "hub": "http://{{ selenium_grid_hub_host }}:4444",
  "nodeStatusCheckTimeout": 5000,
  "nodePolling": 5000,
  "role": "node",
  "unregisterIfStillDownAfter": 60000,
  "downPollingLimit": 2,
  "debug": false,
  "servlets" : [],
  "withoutServlets": [],
  "custom": {}
}