JAVA_OPTS="-Xmx4g -Xms512m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{egress_jar_root_path}} -Dspring.profiles.active={{prosody_egress_env}} -Dreactor.netty.http.server.accessLogEnabled=true"
{% if egress_cloud_provider != 'aws' %}
AWS_CREDENTIAL_PROFILES_FILE="{{egress_homedir}}/.aws/credentials"
{% endif %}