template(name="SimpleJSONFormat" type="string" string= "%msg:::sp-if-no-1st-sp%%msg:::drop-last-lf%\n")
if $programname == '{{ sip_jibri_sidecar_service_name }}' then {{ sip_jibri_log_dir }}/sidecar.log;SimpleJSONFormat
& stop

