PORT={{sip_jibri_express_port}}
WS_SERVER_URL="{{sip_jibri_ws_server_url}}"
STATS_RETRIEVE_URL="{{sip_jibri_stats_retrieve_url}}"
START_JIBRI_URL="{{sip_jibri_start_service_url}}"
STOP_JIBRI_URL="{{sip_jibri_stop_service_url}}"
ASAP_SIGNING_KEY_FILE="{{sip_jibri_key_path}}"
ASAP_JWT_KID="{{sip_jibri_key_id}}"
INSTANCE_ID="{{sip_jibri_instance_id}}"
HOSTNAME="{{sip_jibri_sidecar_instance_name}}"
JIBRI_KEY="{{sip_jibri_sidecar_instance_name}}"
JIBRI_NICK="{{sip_jibri_nick}}"
SIP_USERNAME="{{sip_jibri_sip_username}}"
SIP_PASSWORD="{{sip_jibri_sip_password}}"
XMPP_LOGIN_PATH={{sip_jibri_xmpp_logins_path}}
ENVIRONMENT={{sip_jibri_environment}}
INSTANCE_METADATA='{"environment":"{{sip_jibri_environment}}","region":"{{sip_jibri_region}}","group":"{{sip_jibri_group}}","name":"{{sip_jibri_sidecar_instance_name}}","version":"{{sip_jibri_sidecar_instance_version}}","privateIp":"{{sip_jibri_sidecar_private_ip}}"{% if sip_jibri_sidecar_public_ip %},"publicIp":"{{sip_jibri_sidecar_public_ip}}"{% endif %}}'
VOLATILE_EVENTS={{sip_jibri_volatile_events | lower}}