[Unit]
Description=JVB RTC Stats Pusher
After=network.target

[Service]
User={{jvb_rtcstats_push_username}}
Group={{jvb_rtcstats_push_groupname}}
EnvironmentFile={{jvb_rtcstats_push_config_path}}
WorkingDirectory={{jvb_rtcstats_push_base_path}}
ExecStart=/usr/bin/node app.js
Restart=on-failure
KillSignal=SIGQUIT
Type=simple
StandardOutput=syslog
StandardError=syslog
NotifyAccess=all
SyslogIdentifier={{jvb_rtcstats_push_service_name}}

[Install]
WantedBy=multi-user.target
