---
- name: Create skynet credentials directory
  ansible.builtin.file:
    path: "{{ skynet_credentials_directory }}"
    state: directory
    recurse: true
    mode: 0700
    owner: ubuntu
    group: ubuntu

- name: Create skynet credentials file
  ansible.builtin.template:
    src: credentials.yaml.j2
    dest: "{{ skynet_credentials_file }}"
    mode: 0600
    owner: ubuntu
    group: ubuntu
