{
  "service": {
    "name": "haproxy",
    "tags":["{{ hcv_environment }}"],
    {% set ip_id = consul_haproxy_private_ip.split('.')[2:4] | join('') %}
    "id":"{{ hcv_environment ~ "-haproxy-" ~  ip_id }}-test",
    "meta": {
        "environment":"{{ hcv_environment }}",
        "domain":"{{ environment_domain_name }}",
        "hostname":"{{ hcv_environment ~ "-haproxy-" ~  ip_id }}"
    },
    "tagged_addresses": {
      "lan": {
        "address": "{{ consul_haproxy_private_ip }}",
        "port": 80
      },
      "wan": {
        "address": "{{ consul_haproxy_public_ip }}",
        "port": 80
      }
    },
    "port": 1024
  }
}