---
- name: Apt install logrotate package
  ansible.builtin.apt:
    name: logrotate
    state: present

# Remove older logrotate configuration files
- name: Install logrotation custom rule files
  ansible.builtin.file:
    path: "/etc/logrotate.d/{{ item.name }}"
    state: absent
  loop:
    - "{{ [logrotate_rules | flatten, logrotate_rules_jvb | flatten, logrotate_rules_core | flatten, logrotate_rules_haproxy| flatten] }}"
  when: logrotate_rules is defined

- name: Setup logrotate.d scripts
  ansible.builtin.template:
    mode: 0644
    src: logrotate.d.j2
    dest: /etc/logrotate.d/01-ansible-managed
  when: logrotate_rules is defined

- name: Update systemd timer schedule for logrotate
  ansible.builtin.lineinfile:
    path: /lib/systemd/system/logrotate.timer
    regexp: '^OnCalendar='
    line: OnCalendar=*:0/5
  when: (ansible_distribution_major_version | int) >= 20

- name: Update systemd timer granularity for logrotate
  ansible.builtin.lineinfile:
    path: /lib/systemd/system/logrotate.timer
    regexp: '^AccuracySec='
    line: AccuracySec=1m
  when: (ansible_distribution_major_version | int) >= 20
