#!/bin/bash
PROSODY_HOSTNAME="{{jitsi_meet_domain_name}}"
TURN_CREDS_FILENAME="{{testrtc_creds_path}}"
TURN_DNS_NAME="{{testrtc_turn_hostname}}"
TURN_PORT="{{testrtc_turn_port}}"
STUN_DNS_NAME=$TURN_DNS_NAME
STUN_PORT=$TURN_PORT

TURN_IPV6_ADDR=$(host -t AAAA $TURN_DNS_NAME | awk '{print $5};')

TURN_IPV6_ADDR="[$TURN_IPV6_ADDR]"

TURN_CREDS=$(curl -m 30 --resolve "$PROSODY_HOSTNAME:5280:127.0.0.1" "http://$PROSODY_HOSTNAME:5280/turn-credentials")

echo $TURN_CREDS | jq ".|{\"lifetimeDuration\":(map(select(.type==\"turn\"))[0].ttl|tostring|.+\"s\"), \"iceServers\":[{\"username\":map(select(.type==\"turn\"))[0].username,\"credential\":map(select(.type==\"turn\"))[0].password, \"urls\":[\"turn:$TURN_DNS_NAME:$TURN_PORT?transport=udp\",\"turn:$TURN_IPV6_ADDR:$TURN_PORT?transport=udp\",\"turn:$TURN_DNS_NAME:$TURN_PORT?transport=tcp\",\"turn:$TURN_IPV6_ADDR:$TURN_PORT?transport=tcp\"]},{\"urls\":[\"stun:$STUN_DNS_NAME:$STUN_PORT\"]}],\"blockStatus\": \"NOT_BLOCKED\",\"iceTransportPolicy\":\"all\"}" > $TURN_CREDS_FILENAME