---
- name: Install lua 5.2
  ansible.builtin.apt:
    name: ["lua5.2", "liblua5.2-dev"]
    state: present

- name: Install list of packages
  ansible.builtin.apt:
    name: [
      "git", "luarocks",
      "libexpat{{ '1' if ansible_distribution_release == 'focal' else '' }}-dev",
      "libpcre3-dev", "libssl-dev", "build-essential", "openssl", "lua-bitop",
      "libevent-dev", "lua-expat", "lua-filesystem", "ssl-cert",
      "libidn{{ '11' if ansible_distribution_release == 'focal' else '12' }}",
      "lua-basexx", "lua-luaossl", "lua-cjson"
    ]
    state: present

- name: Install libssl1.0 if ubuntu == 18
  ansible.builtin.apt:
    name: libssl1.0-dev
    state: present
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version == '18'

- name: Install luarocks luaoscket
  ansible.builtin.shell: |
    set -o pipefail
    luarocks list | grep -w -q luasocket || luarocks install luasocket
  args:
    executable: /bin/bash
- name: Install luarocks luasec
  ansible.builtin.shell: |
    set -o pipefail
    luarocks list | grep -w -q luasec || luarocks install luasec OPENSSL_LIBDIR=/usr/lib/{{ ansible_architecture }}-linux-gnu/
  args:
    executable: /bin/bash
- name: Install luarocks luassl
  ansible.builtin.shell: |
    set -o pipefail
    luarocks list | grep -w -q luaossl || luarocks install luaossl \
    OPENSSL_LIBDIR=/usr/lib/{{ ansible_architecture }}-linux-gnu/ CRYPTO_LIBDIR=/usr/lib/{{ ansible_architecture }}-linux-gnu/
  args:
    executable: /bin/bash
- name: Install luarocks basexx
  ansible.builtin.shell: |
    set -o pipefail
    luarocks list | grep -w -q basexx || luarocks install basexx
  args:
    executable: /bin/bash
- name: Install luarocks lua-cjson
  ansible.builtin.shell: |
    set -o pipefail
    luarocks list | grep -w -q cjson || luarocks install lua-cjson 2.1.0-1
  args:
    executable: /bin/bash
- name: Install luarocks dependencies
  ansible.builtin.shell: |
    set -o pipefail
    luarocks list | grep -w -q {{ item }} || luarocks install {{ item }}
  args:
    executable: /bin/bash
  with_items:
    - luajwtjitsi 2.0-0
    - net-url
    - inspect
    - uuid

- name: Install prosody-log-filter script
  ansible.builtin.copy:
    src: prosody-log-filter.sh
    dest: /usr/local/bin/prosody-log-filter.sh
    mode: 0755

- name: Install prosody-log-filter service file
  ansible.builtin.copy:
    mode: 0644
    src: prosody-log-filter.systemd
    dest: /lib/systemd/system/prosody-log-filter.service

- name: Install prosody health check script AWS
  ansible.builtin.copy:
    src: "prosody-health-check.sh"
    dest: "/usr/local/bin/prosody-health-check.sh"
    mode: 0755
  when: prosody_cloud_provider == "aws"

- name: Install prosody health check script OCI
  ansible.builtin.copy:
    src: "prosody-health-check-oracle.sh"
    dest: "/usr/local/bin/prosody-health-check.sh"
    mode: 0755
  when: prosody_cloud_provider == "oracle"

# check for existing installs, uninstall alternates if needed
- name: Unhold prosody package to replace with prosody-0.11
  ansible.builtin.dpkg_selections:
    name: "prosody"
    selection: deinstall
  when: prosody_package_name == 'prosody-0.11'

- name: Uninstall prosody package to replace with prosody-0.11
  ansible.builtin.apt:
    name: "prosody"
    state: absent
  notify: Remove patches
  when: prosody_package_name == 'prosody-0.11'

- name: Unhold prosody package to replace with prosody-0.11
  ansible.builtin.dpkg_selections:
    name: "prosody-0.11"
    selection: deinstall
  when: prosody_package_name == 'prosody'

- name: Uninstall prosody-0.11 package to replace with prosody
  ansible.builtin.apt:
    name: "prosody-0.11"
    state: absent
  notify: Remove patches
  when: prosody_package_name == 'prosody'

# now install, either from URL or via apt
- name: Include apt install tasks
  ansible.builtin.include_tasks: install-from-apt.yml
  when: prosody_install_from_apt

- name: Include URL install tasks
  ansible.builtin.include_tasks: install-from-url.yml
  when: not prosody_install_from_apt

- name: Register installed prosody version
  ansible.builtin.shell: |
    set -o pipefail
    {{ prosody_version_shell }}
  args:
    executable: /bin/bash
  register: prosody_version_shell

- name: Set prosody subversion fact
  ansible.builtin.set_fact:
    prosody_subversion: "{{ prosody_version_shell.stdout.split('.')[-1] }}"
    prosody_minor_version: "{{ prosody_version_shell.stdout.split('.')[1] }}"
  when: prosody_subversion == ''

# now patch prosody if necessary
- name: Copy muc_owner_allow_kick patch 0.11
  ansible.builtin.copy:
    mode: 0644
    src: "muc_owner_allow_kick.patch"
    dest: "/tmp/muc_owner_allow_kick.patch"
  when: (prosody_minor_version | int) == 11

- name: Copy muc_owner_allow_kick patch 0.12
  ansible.builtin.copy:
    mode: 0644
    src: "muc_owner_allow_kick-0.12.patch"
    dest: "/tmp/muc_owner_allow_kick.patch"
  when:
    - (prosody_minor_version | int) == 12
    - (prosody_subversion | int) < 1

- name: Apply muc_owner_allow_kick patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules/muc
    remote_src: true
    src: "/tmp/muc_owner_allow_kick.patch"
  when:
    - ((prosody_minor_version | int) == 12 and (prosody_subversion | int) < 1) or (prosody_minor_version | int) == 11


- name: Apply muc_lib_visitor_broadcast patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules/muc
    src: "muc_lib_visitor_broadcast.patch"

- name: Apply mod_smacks_session_close patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules
    src: "mod_smacks_session_close.patch"
    strip: 2
  # when:
  #   - ((prosody_minor_version | int) == 12 and (prosody_subversion | int) < 3) or (prosody_minor_version | int) == 11

- name: Apply mod_websocket_auth_token patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules
    src: "mod_websocket_auth_token.patch"
  when:
    - (prosody_minor_version | int) == 11
    - (prosody_subversion | int) <= 5

- name: Apply mod_websocket_smacks patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules
    src: "mod_websocket_smacks.patch"
  when:
    - (prosody_minor_version | int) == 11
    - (prosody_subversion | int) <= 6

- name: Apply mod_http CIDR patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules
    src: "mod_http_support_cidr.patch"
    strip: 2
  when: (prosody_minor_version | int) == 11

- name: Apply mod_websocket session IP patch for prosody 0.11
  ansible.posix.patch:
    basedir: /usr/lib/prosody
    src: "mod_websocket_session_ip.patch"
    strip: 1
  when: (prosody_minor_version | int) == 11

- name: Apply mod_websocket session IP patch for prosody 0.12
  ansible.posix.patch:
    basedir: /usr/lib/prosody
    src: "mod_websocket_session_ip-0.12.patch"
    strip: 1
  when: (prosody_minor_version | int) == 12

- name: Apply expat memory leak patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody
    src: "expat_memory_leak.patch"
    strip: 1
  when:
    - (prosody_minor_version | int) == 11
    - (prosody_subversion | int) == 12

- name: Copy systemd file for nightly if it does not exist
  ansible.builtin.copy:
    mode: 0644
    src: "prosody.service"
    dest: "/lib/systemd/system/prosody.service"
    force: false

- name: Install mercurial
  ansible.builtin.apt:
    name: mercurial
    state: present

- name: Checkout mercurial prosody-modules repo
  community.general.hg:
    repo: https://hg.prosody.im/prosody-modules/
    dest: /opt/prosody-modules/

- name: Copy extra prosody modules from mercurial repo
  ansible.builtin.command: cp -r {{ item }} /usr/lib/prosody/modules
  args:
    chdir: /opt/prosody-modules/
    creates: /usr/lib/prosody/modules/{{ item }}
  with_items:
    - mod_firewall
    - mod_log_slow_events
    - mod_debug_traceback
    - mod_log_ringbuffer
    - mod_measure_stanza_counts
    - mod_secure_interfaces

- name: Install (but do not enable) the mod_firewall rules
  ansible.builtin.copy:
    src: "disable_messaging.pfw"
    dest: "/usr/lib/prosody/rules.d/"
    mode: 0644
    force: true

- name: Enable the plugin for hiding all MUCs
  ansible.builtin.copy:
    src: "mod_muc_hide_all.lua"
    dest: "/usr/lib/prosody/modules/"
    mode: 0644
    force: true

- name: Copy over the plugin for rate-limiting joining MUCs
  ansible.builtin.copy:
    src: "mod_rate_limit.lua"
    dest: "/usr/lib/prosody/modules/"
    mode: 0644

- name: Copy over the plugin for muc event reporting
  ansible.builtin.copy:
    src: "mod_muc_events.lua"
    dest: "/usr/lib/prosody/modules/"
    mode: 0644

- name: Copy over the plugin for filtering internal muc access
  ansible.builtin.copy:
    src: "mod_muc_filter_access.lua"
    dest: "/usr/lib/prosody/modules/"
    mode: 0644

- name: Copy over the plugin for muc jitsi auth
  ansible.builtin.copy:
    src: "mod_muc_auth_ban.lua"
    dest: "/usr/lib/prosody/modules/"
    mode: 0644

- name: Delete old turn credentials module
  ansible.builtin.file:
    path: "/usr/lib/prosody/modules/mod_turncredentials"
    state: "absent"

- name: Copy over the plugin for turn credential support
  ansible.builtin.copy:
    src: "mod_turncredentials_http.lua"
    dest: "/usr/lib/prosody/modules/"
    mode: 0644


- name: Copy over the plugin for preset passwords on mucs
  ansible.builtin.copy:
    src: "mod_muc_password_preset.lua"
    dest: "/usr/share/jitsi-meet/prosody-plugins/"
    mode: 0644

- name: Copy over the plugin for kick endpoint
  ansible.builtin.copy:
    src: "mod_muc_kick_endpoint.lua"
    dest: "/usr/lib/prosody/modules/"
    mode: 0644

# The previous one creates the folder, we can just touch the file
- name: Adds a file to indicate we are running prosody 0.12 and mod_smacks needs to be dropped from jitsi-meet
  ansible.builtin.file:
    mode: 0644
    path: /usr/share/jitsi-meet/prosody-plugins/.drop.mod_smacks.lua
    state: touch
  when: (prosody_minor_version | int) == 12

- name: Adds a file to indicate we are running prosody 0.12 and mod_external_services needs to be dropped from jitsi-meet
  ansible.builtin.file:
    mode: 0644
    path: /usr/share/jitsi-meet/prosody-plugins/.drop.mod_external_services.lua
    state: touch
  when: (prosody_minor_version | int) == 12

- name: Prosody file open limits
  ansible.builtin.copy:
    mode: 0644
    dest: "/etc/security/limits.d/prosody.conf"
    content: "prosody - nofile {{ prosody_open_file_limit }}\nroot - nofile {{ prosody_open_file_limit }}"

- name: PAM common session applies limits # noqa no-tabs
  ansible.builtin.lineinfile:
    dest: /etc/pam.d/common-session
    line: "session required\tpam_limits.so"

- name: PAM common noninteractive-session applies limits # noqa no-tabs
  ansible.builtin.lineinfile:
    dest: /etc/pam.d/common-session-noninteractive
    line: "session required\tpam_limits.so"


# set the systemd limits for default threads
- name: Set systemd DefaultLimitNOFILE setting
  ansible.builtin.lineinfile:
    dest: /etc/systemd/system.conf
    line: "DefaultLimitNOFILE={{ prosody_open_file_limit }}"
    regexp: "DefaultLimitNOFILE="
  when: ansible_service_mgr == "systemd"

# set the systemd limits for default threads
- name: Set systemd user DefaultLimitNOFILE setting
  ansible.builtin.lineinfile:
    dest: /etc/systemd/user.conf
    line: "DefaultLimitNOFILE={{ prosody_open_file_limit }}"
    regexp: "DefaultLimitNOFILE="
  when: ansible_service_mgr == "systemd"
