---
- name: Register installed prosody version
  ansible.builtin.shell: |
    set -o pipefail
    {{ prosody_version_shell_cmd }}
  args:
    executable: /bin/bash
  register: prosody_version_shell

- name: Set prosody subversion fact
  ansible.builtin.set_fact:
    prosody_subversion: "{{ prosody_version_shell.stdout.split('.')[-1] }}"
    prosody_minor_version: "{{ prosody_version_shell.stdout.split('.')[1] }}"
    prosody_major_version: "{{ prosody_version_shell.stdout.split('.')[0] }}"

- name: Register prosody real path
  ansible.builtin.shell: |
    set -o pipefail
    realpath "$(dirname $(realpath /usr/share/lua/5.4/prosody/net/server_epoll.lua))/.."
  args:
    executable: /bin/bash
  register: prosody_basepath_shell

- name: Set prosody basepath fact
  ansible.builtin.set_fact:
    prosody_basepath: "{{ prosody_basepath_shell.stdout }}"

- name: Apply muc_lib_visitor_broadcast patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules/muc
    src: "{{ role_path | default('roles/prosody') }}/files/muc_lib_visitor_broadcast.patch"
  when:
    - ((prosody_minor_version | int) == 12 and (prosody_subversion | int) <= 4)

- name: Apply server_epoll Restore idle checks after pause patch on prosody 13 <=13.0.2
  ansible.posix.patch:
    basedir: "{{ prosody_basepath }}"
    src: "{{ role_path | default('roles/prosody') }}/files/server_epoll_restore_idle_check.patch"
    strip: 1
  when: (prosody_major_version | int) == 13 and (prosody_minor_version | int) == 0 and (prosody_subversion | int) <= 2

- name: Apply server_epoll Restore idle checks after pause patch on prosody 0.12 <=0.12.5
  ansible.posix.patch:
    basedir: "{{ prosody_basepath }}"
    src: "{{ role_path | default('roles/prosody') }}/files/server_epoll_restore_idle_check-0.12.5.patch"
    strip: 1
  when: (prosody_major_version | int) == 0 and (prosody_minor_version | int) == 12 and (prosody_subversion | int) <= 5

- name: Apply muc_room_default_presence_broadcast revert patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules
    src: "{{ role_path | default('roles/prosody') }}/files/muc_room_default_presence_broadcast_fix.patch"
    strip: 2
  when: (prosody_major_version | int) == 13 and (prosody_minor_version | int) == 0 and (prosody_subversion | int) <= 2

- name: Apply mod_http parse IP patch
  ansible.posix.patch:
    basedir: /usr/lib/prosody/modules
    src: "{{ role_path | default('roles/prosody') }}/files/mod_http_parse_ip.patch"
    strip: 2
  when: (prosody_minor_version | int) == 12 and (prosody_subversion | int) <= 5

- name: Apply util/jid.lua patch to disable idna validation on 13.0.3
  ansible.builtin.shell: |
    set -o pipefail
    echo "{{ lookup('file', (role_path | default('roles/prosody')) + '/files/util_jid_idna.patch') }}" | patch --follow-symlinks -p1 -d /usr/share/lua/5.4/prosody
  args:
    executable: /bin/bash
  register: jid_patch_result
  changed_when: "'Reversed' not in jid_patch_result.stdout and 'already applied' not in jid_patch_result.stdout"
  when: (prosody_major_version | int) == 13 and (prosody_minor_version | int) == 0 and (prosody_subversion | int) >= 3 and (prosody_subversion | int) < 5
