---

- name: Install tcpdump
  ansible.builtin.apt:
    name: tcpdump
    state: present

- name: Create storage folder
  ansible.builtin.file:
    path: /var/lib/tcpdump-prosody-jvb
    state: directory
    owner: tcpdump
    group: root
    mode: 0755

- name: Cleanup script
  ansible.builtin.copy:
    src: tcpdump-prosody-jvb-cleanup.sh
    dest: /usr/local/bin/tcpdump-prosody-jvb-cleanup.sh
    mode: 0755
    owner: root

- name: Service definition
  ansible.builtin.copy:
    mode: 0644
    src: tcpdump-prosody-jvb.service
    dest: /lib/systemd/system/tcpdump-prosody-jvb.service

- name: Start service and set it enabled
  ansible.builtin.service:
    name: tcpdump-prosody-jvb
    state: started
    enabled: true

# Run the cleanup script regularly
- name: Cleanup cron
  ansible.builtin.cron:
    user: root
    state: present
    name: "tcpdump-prosody-jvb cleanup script"
    minute: "0,30"
    hour: "*"
    job: "/usr/local/bin/tcpdump-prosody-jvb-cleanup.sh > /tmp/tcpdump-prosody-jvb-cron-output 2>&1"
