{
  "service": {
    "name": "{{ consul_jigasi_shard_role }}",
    "tags":["{{ hcv_environment }}"],
    "meta": {
        "environment":"{{ hcv_environment }}"
    },
    "port": 80,
    "checks": [
      {
        "name": "Jigasi REST Health",
        "http": "http://localhost:8788/about/health",
        "method": "GET",
        "interval": "10s",
        "timeout": "1s"
      }
    ]
{{- if consul_jigasi_shard_role == "jigasi-transcriber" }},
    "connect": {
      "sidecar_service": {
        "proxy": {
          "upstreams": [
            {
              "destination_name": "whisper-haproxy",
              "local_bind_port": 8088
            }
          ]
        }
      }
    }
{{- end }}
  }
}