---
- name: Main
  hosts: default
  gather_facts: true
  become: true
  vars:
    jibri_kernel_package_type: generic
    cloud_provider: oracle
  vars_files:
    - secrets/ssh-users.yml
    - secrets/jibri.yml
    - secrets/repo.yml
    - config/vars.yml
    - secrets/release-bucket-aws.yml
  pre_tasks:
    - name: Pause for 60
      ansible.builtin.pause:
        seconds: 60
      tags: "provision"
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
      tags: "provision"

  roles:
    - { role: "jibri-kernel", tags: "jibri-kernel", when: not jibri_pulseaudio_enabled }
    - { role: "common", tags: "common"}
    - { role: "boot-postinstall", tags: "boot-postinstall" }
    - { role: "sshusers", tags: "ssh" }
    - { role: "ntp", tags: "ntp"}
    - { role: "logrotate", tags: "logrotate", logrotate_rules_sip_jibri_enabled: true}
    - { role: "journald", tags: "journald"}
    - { role: "rsyslog", tags: "rsyslog"}
    - { role: "jitsi-dumper", tags: "jitsi-dumper"}
    - role: "wavefront"
      tags: "telegraf"
      wavefront_install_collector: true
      datadog_extensions: "true"
      when: jibri_telegraf_enabled
      vars:
        telegraf_tags:
          role: "jibri"
          cloud: "oracle"
    - { role: "autoscaler-sidecar", tags: "autoscaler-sidecar",
        autoscaler_instance_type: "jibri", autoscaler_install_flag: true, autoscaler_configure_flag: false, jitsi_autoscaler_sidecar: true}
    - { role: "jibri-java", tags: "jibri", jibri_install_flag: true, jibri_configure_flag: false}
    - { role: "pulseaudio", tags: "pulseaudio", when: jibri_pulseaudio_enabled }
    - { role: "jitsi-upload-integrations", tags: "jitsi-upload-integrations",
        upload_integrations_install_flag: true, upload_integrations_configure_flag: false }
    - { role: "jitsi-upload-customizations", tags: "jitsi-upload-customizations",
        upload_customizations_install_flag: true, upload_customizations_configure_flag: false }
    - { role: "jibri-pjsua", tags: "jibri-pjsua", jibri_pjsua_install_flag: true, jibri_pjsua_configure_flag: false}
    - { role: "sip-jibri-sidecar", tags: "sip-jibri-sidecar", sip_jibri_install_flag: true, sip_jibri_configure_flag: false}
    - { role: "clean-system", tags: "clean-system, build" }
