---
- name: Main
  hosts: default
  gather_facts: true
  become: true
  vars_files:
    - secrets/ssh-users.yml
    - secrets/repo.yml
    - secrets/github-deploy.yml
    - config/vars.yml
  vars:
    cloud_provider: oracle
  pre_tasks:
    - name: Remove oracle cloud agent if installed # noqa no-changed-when
      ansible.builtin.shell: |
        set -o pipefail
        snap list | grep -q oracle-cloud-agent && snap remove oracle-cloud-agent || true
      args:
        executable: /bin/bash
    # pause 60 seconds before updating, to ensure that everything is ready to roll
    - name: Pause for 60
      ansible.builtin.pause:
        seconds: 60

    - name: Disable apt-daily systemd timers and services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: false
        masked: true
        state: stopped
      loop:
        - apt-daily.timer
        - apt-daily-upgrade.timer
        - apt-daily.service
        - apt-daily-upgrade.service
      ignore_errors: true

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
    - name: Upgrade packages
      ansible.builtin.apt:
        upgrade: true
    - name: Upgrade to the latest kernel image # noqa package-latest
      ansible.builtin.apt:
        name: "linux-generic-hwe-{{ ansible_distribution_version }}"
        state: latest
      register: kernel_upgrade
    - name: Remove oracle linux
      ansible.builtin.apt:
        name: ['linux*oracle', 'linux-oracle-*']
        state: absent
      register: kernel_remove

    - name: Reboot if kernel was upgraded # noqa no-handler
      ansible.builtin.reboot:
        reboot_timeout: 300
        post_reboot_delay: 60
      when: kernel_upgrade.changed or kernel_remove.changed

  post_tasks:
    - name: Cleanup nomad data directory
      ansible.builtin.file:
        path: /var/nomad
        state: absent

    - name: Remove td-agent deb repository
      ansible.builtin.apt_repository:
        repo: "deb https://packages.treasuredata.com/4/{{ ansible_distribution |
          lower }}/{{ ansible_distribution_release | lower }}/ {{ ansible_distribution_release | lower }} contrib"
        state: absent
        update_cache: false

  roles:
    - { role: "common", tags: "common" }
    - { role: "boot-postinstall", tags: "boot-postinstall" }
    - { role: "ansible-install", tags: "ansible-install" }
    - { role: "sshusers", tags: "ssh" }
    - { role: "ntp", tags: "ntp"}
    - { role: "logrotate", tags: "logrotate"}
    - { role: "journald", tags: "journald"}
    - { role: "rsyslog", tags: "rsyslog"}
    - { role: "vault", tags: "vault", vault_install_flag: true, vault_configure_flag: false}
    - { role: "vector", tags: "vector", vector_install_flag: true, vector_configure_flag: false}
    - { role: "openjdk-java", tags: "openjdk-java" }
    - { role: "jitsi-dumper", tags: "jitsi-dumper"}
    - { role: "consul-install", tags: "consul-install" }
    - { role: "docker", tags: "docker" }
    - { role: "nomad", tags: "nomad", nomad_enabled_on_boot: false }
    - { role: "nomad-extras", tags: "nomad-extras" }
    - { role: "autoscaler-sidecar", tags: "autoscaler-sidecar",
        autoscaler_instance_type: "nomad", cloud_provider: "oracle", autoscaler_install_flag: true, autoscaler_configure_flag: false}
    - { role: "consul-agent", tags: "consul", consul_install_flag: false}
    - role: "wavefront"
      tags: "telegraf"
      wavefront_install_collector: true
      datadog_extensions: "true"
      vars:
        telegraf_tags:
          role: "base"
          cloud: "oracle"
    # - { role: "bootstrap-repos", tags: "bootstrap-repos"}
    - { role: "clean-system", tags: "clean-system, build" }
