---
- name: Main
  hosts: all
  gather_facts: true
  become_user: root
  become: true
  strategy: free
  vars_files:
    - secrets/ssh-users.yml
    - secrets/oci-logging.yml
    - secrets/carbon-black.yml
    - config/vars.yml
    - "sites/{{ hcv_environment }}/vars.yml"
  vars:
    shard_role: ssh
  pre_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 86400
      tags: setup
  roles:
    - { role: "sshusers", tags: "ssh" }
    - { role: "sshmfa", tags: "sshmfa", when: carbon_black_install_flag}
    - { role: "fail2ban", tags: "fail2ban" }
    - { role: "unattended-upgrades", tags: "unattended-upgrades"}
    - { role: "ntp", tags: "ntp"}
    - { role: "logrotate", tags: "logrotate"}
    - { role: "journald", tags: "journald"}
    - { role: "rsyslog", rsyslog_install_flag: false, tags: "rsyslog"}
    - { role: "carbon-black", tags: "carbon-black", when: carbon_black_install_flag}
