---
- name: Main
  hosts: all
  gather_facts: true
  become_user: root
  become: true
  vars_files:
    - secrets/ssh-users.yml
    - secrets/wavefront.yml
    - secrets/consul.yml
    - secrets/repo.yml
    - secrets/nomad.yml
    - secrets/oci-logging.yml
    - config/vars.yml
    - sites/{{ hcv_environment }}/vars.yml
  vars:
    nomad_node_role: server
    nomad_telemetry: true
    nomad_telemetry_prometheus_metrics: true
    shard_role: consul
    cloud_provider: oracle
  pre_tasks:
    - name: Setup new repo template file
      ansible.builtin.template:
        dest: "/etc/apt/auth.conf.d/jitsi-repo.conf"
        src: "roles/jitsi-repo/templates/jitsi-repo.conf.j2"
        owner: root
        mode: 0600
      tags: setup
    - name: Set nomad node role to server
      ansible.builtin.set_fact:
        nomad_node_role: server
      tags: setup
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 86400
    - name: Get instance's details
      ansible.builtin.uri:
        url: http://169.254.169.254/opc/v1/instance/
      register: instance_result
      tags: setup
    - name: Set nomad shape variable
      ansible.builtin.set_fact:
        nomad_shape: "{{ instance_result.json.shape }}"
      tags: setup
    - name: Calculate nomad cpu_total_compute
      ansible.builtin.shell: |
        set -o pipefail
        echo $(( $(dmidecode -t 4 | grep 'Current Speed:' | awk '{print $3}') * $(cat /proc/cpuinfo | grep 'processor' | wc -l) ))
      args:
        executable: /bin/bash
      register: cpu_total_compute_result
      tags: setup
      when: nomad_shape == "VM.Standard.A1.Flex"
    - name: Set nomad cpu_total_compute fact
      ansible.builtin.set_fact:
        nomad_cpu_total_compute: "{{ cpu_total_compute_result.stdout }}"
      tags: setup
      when: nomad_shape == "VM.Standard.A1.Flex"
  roles:
    - { role: "iptables-consul", tags: "iptables"}
    - { role: "iptables-nomad", tags: "iptables-nomad"}
    - { role: "logrotate", tags: "logrotate"}
    - { role: "journald", tags: "journald"}
    - { role: "common", tags: "common"}
    - { role: "rsyslog", tags: "rsyslog"}
    - { role: "sshusers", tags: "ssh" }
    - { role: "unattended-upgrades", tags: "unattended-upgrades"}
    - { role: "consul-server", tags: "consul-server"}
    - { role: "nomad-jitsi", tags: "nomad-jitsi" }
    - { role: "nomad", tags: "nomad" }
    - { role: "consul-server-start", tags: "consul-server-start"}
    - role: "wavefront"
      tags: "telegraf"
      wavefront_proxy_address: "{{ regional_wavefront_proxy }}"
      wavefront_install_collector: true
      datadog_extensions: "true"
      when: telegraf_enabled and not datadog_enabled
      vars:
        telegraf_inputs:
          procstat:
            - systemd_unit: "consul.service"
              cmdline_tag: false
              pid_tag: false
        telegraf_tags:
          shard-role: "consul"
          role: "consul"
          environment: "{{ hcv_environment }}"
          region: "{{ cloud_region }}"
          cloud_provider: "{{ cloud_provider }}"
    - { role: "fluentd-jitsi", tags: "fluentd", fluentd_jitsi_install_flag: false, fluentd_jitsi_configure_flag: true, when: consul_enable_fluentd }
    - { role: "carbon-black", tags: "carbon-black", when: production_env_flag}
  tasks:
    - name: Start nomad
      ansible.builtin.service:
        name: nomad
        state: started
        enabled: true
