---
- name: Main
- hosts: all
  gather_facts: true
  become: true
  become_user: root
  strategy: free
  vars_files:
    - secrets/ssh-users.yml
    - secrets/ssl-certificates.yml
    - roles/jitsi-repo/defaults/main.yml
    - secrets/repo.yml
    - config/vars.yml
    - sites/{{ hcv_environment }}/vars.yml

  pre_tasks:
    - name: update apt cache
      apt:
        update_cache: true
        cache_valid_time: 86400
      tags: setup
    - name: include roles
      ansible.builtin.include_role:
        name: "{{ role_name }}"
      loop: "{{ patch_ansible_roles.split(' ') }}"
      loop_control:
        loop_var: role_name
