- name: Main
  hosts: all
  gather_facts: true
  become_user: root
  become: true
  force_handlers: true
  gather_timeout: 180
  vars_files:
    - secrets/consul.yml
    - config/vars.yml
    - sites/{{ hcv_environment }}/vars.yml
  vars:
    cloud_provider: oracle
    shard_role: haproxy

  roles:
    - { role: "shard-ws-proxy", "tags": "shard-ws-proxy"}
