---
- name: Main
  hosts: all
  gather_facts: true
  gather_timeout: 180
  become_user: root
  become: true
  force_handlers: true
  vars_files:
    - secrets/ops-repo.yml
    - secrets/nomad.yml
    - config/vars.yml
    - sites/{{hcv_environment}}/vars.yml
  roles:
    - role: "gpu-models"
      tags: "gpu-models"
