---
- name: Save nvidia-docker apt key
  ansible.builtin.apt_key:
    url: "{{ nvidia_docker_repo_key_url }}"

- name: Save nvidia-docker apt source list
  ansible.builtin.get_url:
    url: "{{ nvidia_docker_repo_list_url }}"
    dest: /etc/apt/sources.list.d/nvidia-docker.list
    mode: 0644

- name: Install apt packages
  ansible.builtin.apt:
    name: 'nvidia-container-toolkit'
    state: present
    update_cache: true
  notify: Restart docker
