---

- name: Open HTTP ports 80 via iptables
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: NEW
    protocol: tcp
    destination_port: "80"
    jump: ACCEPT
    action: insert
    comment: Added via ansible post-launch configuration script

- name: Save newly added iptable rules # noqa no-changed-when
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4
